.modal.fade{ role: 'dialog', tabindex: '-1', id: "LevelOfRiskGuidance"}
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => 'Close', "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          = t('risk_assessments._attr.guidance')
      .modal-body
        = raw @current_setting.level_of_risk_guidance
