.nested-fields
  .row
    .col-xs-10
      = f.input :value, label: 'Quantitative Data', input_html: { placeholder: 'Value' }
    .col-xs-2.btn-no-label
      = link_to_remove_association f, class: 'btn btn-outline btn-danger', data: { confirm: 'Are you sure you want to remove?' } do
        = fa_icon('trash')
