#all-custom-fields.tab-pane.margin-top-datatable{ role: 'tabpanel' }
  .table-responsive
    %table.table.table-bordered.table-hover.table-striped.custom-field-table#all-ngos-custom-fields{ data: { url: ngo_custom_fields_api_custom_fields_path(ngo_custom_field: 'all_custom_field'), next: t('.next'), previous: t('.previous')} }
      = render 'custom_form_table'
