%h4= t('.detail')
%section
  #description
    = f.input :name, label: t('.name')
    = f.input :description, label: t('.description')
    = f.association :domains, collection: @csi_domains, multiple: true, label_method: :identity, value_method: :id, label: t('.domain')
