%h4= t('.tracking_form')
%section
  #trackings
    = f.simple_fields_for :trackings, @tracking do |ff|
      = render 'tracking_fields', f: ff
    .links
      = link_to_add_association 'Add Tracking', f, :trackings, class: 'btn btn-primary pull-right'