body[id=able_screening_questions-new],
body[id=able_screening_questions-edit],
body[id=able_screening_questions-update],
body[id=able_screening_questions-create] {
  .no-label-form-group{
    margin-top: 20px;
  }

  .question-image{
    width: 100px;
  }

  .icheckbox_square-green {
    margin-right: 10px;
  }

  .file {
    border: none;
  }
}
