body[id="statistics-csi_domain"] {
  .search-statistic {
    margin-bottom: 20px;
  }
  .statistic-btn {
    margin-left: 0;
  }
  .errors {
    border: 1px solid red;
  }
  .highcharts-legend-item path{
    cursor: pointer;
  }
}