= link_to new_client_client_enrolled_program_client_enrolled_program_leave_program_path(@client, program_stream.client_enrollments.enrollments_by(@client).last) do
  .btn.btn-danger.btn-xs.btn-width= t('.exit')
- unless program_stream.tracking_required?
  = link_to client_client_enrolled_program_client_enrolled_program_trackings_path(@client, program_stream.client_enrollments.enrollments_by(@client).last) do
    .btn.btn-primary.btn-xs.btn-width= t('.tracking')
