- if can? :manage, ClientEnrollment
  - if program_stream.enroll?(@client)
    - if program_stream.maximum_client?
      .label.label-info= t('.full_program')
    - else
      = client_enrollment_new_link(program_stream)
