.row
  .nested-fields.col-xs-12
    .row
      .col-xs-12.col-sm-6
        = f.input :file, as: :file, label: false, input_html: { class: 'form-control' }
      .col-xs-12.col-sm-6
        = link_to_remove_association f, data: { confirm: 'Are you sure you want to delete?' }, class: 'btn btn-danger' do
          %i.glyphicon.glyphicon-trash
