
- @user_custom_form_notifications.each do |user_object|
  .ibox.border-left-right.border-bottom
    .ibox-title
      %h5
        = link_to user_object.user_name, user_path(user_object.id), target: :_blank
    .ibox-content.no-padding
      %table.table.table-striped
        %tr
          %td.col-xs-3= t('dashboards.overdue.forms')
          %td.col-xs-6.task-name.border-left-right= user_object.form_title
          %td.col-xs-3= date_format(user_object.max_created_at)
