.table-responsive
  %table.table.table-bordered
    - attachments.each_with_index do |attachment, index|
      %tr
        %td= original_filename(attachment)
        %td.text-center
          = link_to preview_or_download(attachment), attachment.url, class: 'btn btn-info btn-sm btn-download', target: target_blank(attachment)
