- if domain_note.object.class.to_s == 'CaseNote'
  - case_note_domain_group = domain_note.try(:object).case_note_domain_groups.where("attachments != '{}'").first
- else
  - case_note_domain_group = domain_note.object.attachments.first

- if case_note_domain_group.present?
  = render 'attachment', cdg: case_note_domain_group

.row
  .col-xs-12
    = domain_note.input :attachments, label: t('.attachments'), as: :file, input_html: { multiple: true }

%p
  %i.small="#{t('.allow_file_size')} (.jpg, .jpeg, .png, .doc, .docx, .xls, .xlsx, .pdf)"
%p
  %i.small= t('.max_file_size')
