- if domain_note.object.class.to_s == 'CaseNote'
  - case_note_domain_groups = domain_note.try(:object).case_note_domain_groups.where("attachments != '{}'")
- else
  - case_note_domain_groups = domain_note.object.attachments

- if case_note_domain_groups.present?

  = render 'attachment', cdgs: case_note_domain_groups

.row
  .col-xs-12
    = domain_note.input :attachments, label: t('.attachments'), as: :file, input_html: { multiple: true }

%p
  %i.small="#{t('.allow_file_size')} (.jpg, .jpeg, .png, .doc, .docx, .xls, .xlsx, .pdf)"
%p
  %i.small= t('.max_file_size')
