.nested-fields.m-b-sm.m-t-sm
  .row
    .col-md-10
      = f.text_area :progress_note, class: 'form-control', disabled: f.object.persisted?
    - if !f.object.persisted?
      .col-md-2
        = link_to_remove_association f do
          .btn.btn-outline.btn-danger.btn-xs.add-task-progress-notes
            %i.fa.fa-trash
