body[id='data_trackers-index'] {
  .filter-by-item, .all-modification {
    margin: 20px 0;
  }

  .panel-heading {
    h5 {
      color: #fff;
      .label {
        border: 2px solid #fff;
        border-radius: 4px;
      }
    }
  }

  .panel-body{
    margin-bottom: -16px !important;
  }

  .page-select-label {
    line-height: 4;
    margin-bottom: 0px;
  }

  .page-select {
    margin-top: 8px;
    .form-group
    {
      margin-bottom: 0px;
    }
  }

  .table-responsive {
    border: none;
  }

  table.row {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: 992px) {
    .truncate {
      max-width: 250px;
    }
  }
  ol {
    padding-left: 15px;
  }

  .modal-program-rule-width {
    width: 60%;
  }

  ol.list-padding {
    padding-left: 15px;
  }
}
