body[id='data_trackers-index'] {
  .filter-by-item, .all-modification {
    margin: 20px 0;
  }

  .panel-heading {
    h5 {
      color: #fff;
      .label {
        border: 2px solid #fff;
        border-radius: 4px;
      }
    }
  }

  .table-responsive {
    border: none;
  }

  table.row {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: 992px) {
    .truncate {
      max-width: 250px;
    }
  }
}
