version: "3"
services:
  app:
    image: oscar-web_app
    build: .
    container_name: app
    environment:
      - DATABASE_NAME=oscar_development
      - DATABASE_NAME_TEST=oscar_test
      - DATABASE_USER=oscar
      - DATABASE_PASSWORD=123456789
      - DATABASE_HOST=db
      - HISTORY_DATABASE_NAME=oscar_history_development
      - MHO_HISTORY_DATABASE_NAME=mothersheart_history_development
      - HISTORY_DATABASE_NAME_TEST=oscar_history_test
      - HISTORY_DATABASE_HOST=mongo
      - OSCAR_TEAM_EMAIL=team@example.com
      - OSCAR_TEAM_PASSWORD=123456789
      - SENDER_EMAIL=admin@example.com
      - NO_REPLY_EMAIL=no-reply@example.com
      - POWER_BI_GROUP=power_bi_group
      - READ_ONLY_DATABASE_USER=powerbi_dashboard_user
      - READ_ONLY_DATABASE_PASSWORD=123456789
      - READ_ONLY_MTP_DATABASE_USER=mtp_user
      - READ_ONLY_MTP_DATABASE_PASSWORD=123456789
      - WEBPACKER_DEV_SERVER_HOST=webpack
      - REDIS_URL=redis://redis:6379/1
      - STC_DONOR_NAME=
      - FD_DONOR_NAME=
      - SIDEKIQ_USER=admin
      - SIDEKIQ_PASSWORD=12345
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
      - mongo
      - redis
      - sidekiq
    stdin_open: true
    tty: true
  webpack:
    image: oscar-web_app
    container_name: webpack
    depends_on:
      - app
    volumes:
      - .:/app
    ports:
      - "3035:3035"
    entrypoint: bash -c "rm -rf /app/public/packs; /app/bin/webpack-dev-server"
    environment:
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
  db:
    image: postgres:12.3
    container_name: db
    environment:
      - POSTGRES_DB=oscar_development
      - POSTGRES_USER=oscar
      - POSTGRES_PASSWORD=123456789
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    depends_on:
      - db
    ports:
      - 5050:80
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@example.com
      PGADMIN_DEFAULT_PASSWORD: 123456789
    volumes:
      - ./pgadmin-servers.json:/pgadmin4/servers.json:ro
  mongo:
    image: mongo:4.2.10
    container_name: mongo
    environment:
      - MONGO_INITDB_DATABASE=oscar_history_development
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=123456789
    volumes:
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      - ./tmp/mongo:/data/db
    ports:
      - "27017-27019:27017-27019"
  mongo-express:
    image: mongo-express:0.49
    container_name: mongo-express
    restart: always
    depends_on:
      - mongo
    links:
      - mongo:mongo
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_OPTIONS_EDITORTHEME=ambiance
      - ME_CONFIG_MONGODB_ADMINUSERNAME=mongo
      - ME_CONFIG_MONGODB_ADMINPASSWORD=123456789
    ports:
      - "8081:8081"
  redis:
    image: "redis:5.0.13"
    container_name: "redis"
    volumes:
      - ./tmp/db:/var/lib/redis/data

  sidekiq:
    container_name: "sidekiq"
    build: .
    command: bundle exec sidekiq
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    environment:
      - RAILS_ENV=development
      - DATABASE_NAME=oscar_development
      - DATABASE_USER=oscar
      - DATABASE_PASSWORD=123456789
      - DATABASE_HOST=db
      - SENDER_EMAIL=admin@example.com
      - REDIS_URL=redis://redis:6379/1
