- unless @enrollment.program_stream.tracking_required?
  - if can? :manage, ClientEnrollmentTracking
    = link_to new_client_client_enrolled_program_client_enrolled_program_tracking_path(@client, @enrollment, tracking_id: object.id) do
      .btn.btn-primary.btn-xs= t('.new_tracking')
