- unless @enrollment.program_stream.tracking_required?
  - if can? :manage, ClientEnrollmentTracking
    - if object.hidden
      = client_enrolled_program_tracking_new_link(object.id, object.hidden)
    - else
      = client_enrolled_program_tracking_new_link(object.id)

