%tr
  / - domains = Domain.pluck(:identity)
  - grid.html_columns(*options[:columns]).each_with_index do |column, index|
    / - next if controller_name == 'clients' && domains.include?(column.header)
    - next if column.header == t('.changelog') && !current_user.admin?
    %th{class: datagrid_column_classes(grid, column), title: column.header}
      = column.header.truncate(65)
      = datagrid_order_for(grid, column, options) if column.supports_order? && options[:order]