- if grid.instance_of?(FamilyGrid)
  = render partial: "datagrid/head/other_grid_head", locals: { grid: grid, options: options }
- elsif grid.instance_of?(FamilyGrid)
  = render partial: "datagrid/head/family_grid_head", locals: { grid: grid, options: options }
- else
  = render partial: "datagrid/head/other_grid_head", locals: { grid: grid, options: options }
