#partners-show {
  .partner-detail {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .h3-header {
    margin: 0;
    width: 87%;
  }

  .pushing-top {
    margin-top: 15px;
  }

  .pushing-bottom {
    margin-bottom: 15px;
  }

  small.top-right-icon {
    position: absolute;
    top: 16px;
    right: 30px;

    i {
      font-size: 24px;
      padding-top: 5px;
    }
  }

  td.spacing-first-col {
    width: 217px;
  }

  .overflow-case {
    overflow-y: auto;
    height: 415px;
  }

}