= f.input field_props['name'], collection: field_props['values'].map { |f| [f['label'], f['value']] }, as: :check_boxes, required: field_props['required'], input_html: { class: field_props['className'] }, label: field_props['label']
