/ = f.input field_props['label'], as: :boolean, input_html: { class: field_props['classname'], title: field_props['description'] }

= f.input field_props['name'], as: :boolean, input_html: { class: field_props['ClassName'], label: field_props['label'] }
