= f.input field_props['name'], as: :radio_buttons, collection: field_props['values'].map { |f| [f['label'], f['value']]  }, input_html: { class: field_props['className'] }, label: field_props['label']