= f.input field_props['name'], collection: field_props['values'].map { |f| [f['label'], f['value']] }, required: field_props['required'], input_html: { class: field_props['ClassName'], multiple: field_props['multiple'] }, label: field_props['label']
