= f.input field_props['name'], required: field_props['required'], input_html: { class: field_props['className'], placeholder: field_props['placeholder'], title: field_props['description'], type: field_props['subtype'] }, label: field_props['label']
