body[id='program_streams-new'], body[id='program_streams-edit'],
body[id='program_streams-update'], body[id='program_streams-create'] {

  .wizard > .content > .body {
    #enrollment, #trackings, #exit-program {
      position: relative;
      input[type='radio'] {
        display: inline-block;
      }
    }
  }
  .wizard > .actions a[href="#finish"], .wizard > .actions a[href="#finish"]:hover, .wizard > .actions a[href="#finish"]:active {
      background: #1ab394;
  }

  .wizard > .steps > ul > li {
    width: 19.9%;
  }

  .wizard > .steps > ul > li:nth-child(2) {
    width: 20.4%;
  }

  .content.clearfix section {
    width: 100%;
  }

  #program-rule {
    .select2-container {
      width: 180px;
    }

    .btn-group.group-actions {
      button[data-add='rule'] {
        background-color: #1ab394;
        border-color: #1ab394;
        color: #FFFFFF;
      }
      button {
        margin-right: 5px;
      }
    }

    .rule-container {
      border-radius: 0;
      padding: 10px;
      margin: 5px 0;
    }

    .rule-operator-container {
      select {
        width: 180px;
      }
    }

    .rule-value-container {
      border-left: none;
      select, input {
        width: 180px;
      }
      input.form-control {
        padding: 6px 12px;
        display: inline-block;
      }
    }

    .order {
      display: inline-block;
      float: right;
    }

    .filter-error {
      color: red;
      display: none;
    }
  }

  ul.frmb {
    border: 1px solid #ccc !important;
    margin-right: 5px !important;

    li {
      padding-top: 13px !important;
      padding-left: 16px !important;
    }
  }

  .cb-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .cb-wrap:before,
  .cb-wrap:after {
    content: '';
    display: table;
  }

  ul li.has-error {
    background-color: #fbe3e4 !important;
    border: 1px solid #fbc2c4;
  }

  ul li {
    input.error,
    select.error,
    textarea.error {
      background-color: #fbe3e4 !important;
      border: 1px solid #fbc2c4;
    }
  }

  #not-require-tracking {
    width: 80%;
  }

  .hide-tracking-form {
    pointer-events: none;
    opacity: 0.5;
  }

  .quantity {
    color: #a94442;
  }

  #width-modal {
    width: 80%;
    th.form-title,  td.form-title {
      width: 40% !important;
    }

    th.organization, td.organization {
      width: 25% !important;
    }

    th.entity-type,  td.entity-type {
      width: 20% !important;
    }

    th.copy, td.copy  {
      width: 15% !important;
    }

    table.custom-field-table, .dataTables_scrollHeadInner, .dataTables_scrollHead, .dataTables_scrollBody {
      width: 100% !important;
    }

    .dataTables_scrollHeadInner{
      padding-right: 0 !important;
    }

    table.custom-field-table {
      margin-bottom: 0;

      th {
        border-bottom-width: 0;
      }
    }
  }
  .margin-top-datatable {
    margin-top: 10px;
  }

  .field-actions a.btn.toggle-form {
    margin-left: 0;
  }
  .cb-wrap {
    // width: 340px !important;
  }

  li.has-error {
    label.error {
      margin-top: 10px;
      margin-left: 0 !important;
    }
  }

  #select2-drop {
    height: 349px;
    .select2-results {
      max-height: 340px;
      height: 374px;
      overflow-x: scroll;
      overflow-y: scroll;
    }
    .select2-results table tbody tr td {
      cursor: pointer;
    }
  }

  .wizard > .content > .body {
    #enrollment, #trackings, #exit-program {
      .field-options {
        input.option-value, input[type='radio'].option-selected, input.option-local_value { display: none; }
      }
    }
  }
}
