body[id='program_streams-new'], body[id='program_streams-edit'],
body[id='program_streams-update'], body[id='program_streams-create'] {

  .wizard > .content > .body {
    #enrollment, #trackings, #exit-program {
      input[type='radio'] {
        display: inline-block;
      }
    }
  }
  .wizard > .actions a[href="#finish"], .wizard > .actions a[href="#finish"]:hover, .wizard > .actions a[href="#finish"]:active {
      background: #1ab394;
  }

  .content.clearfix section {
    width: 100%;
  }


  #program-rule {
    .select2-container {
      width: 180px;
    }

    .btn-group.group-actions {
      button[data-add='rule'] {
        background-color: #1ab394;
        border-color: #1ab394;
        color: #FFFFFF;
      }
      button {
        margin-right: 5px;
      }
    }

    .rule-container {
      border-radius: 0;
      padding: 10px;
      margin: 5px 0;
    }

    .rule-operator-container {
      select {
        width: 180px;
      }
    }

    .rule-value-container {
      border-left: none;
      select, input {
        width: 180px;
      }
      input.form-control {
        padding: 6px 12px;
        display: inline-block;
      }
    }

    .order {
      display: inline-block;
      float: right;
    }

    .filter-error {
      color: red;
      display: none;
    }
  }

  ul.frmb {
    border: 1px solid #ccc !important;
    margin-right: 5px !important;

    li {
      padding-top: 13px !important;
      padding-left: 16px !important;
    }
  }

  .cb-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .cb-wrap:before,
  .cb-wrap:after {
    content: '';
    display: table;
  }

  ul li.has-error {
    background-color: #fbe3e4 !important;
    border: 1px solid #fbc2c4;
  }

  ul li {
    input.error,
    select.error,
    textarea.error {
      background-color: #fbe3e4 !important;
      border: 1px solid #fbc2c4;
    }
  }

  .hide-tracking-form {
    pointer-events: none;
    opacity: 0.4;
  }
}
