body[id='program_streams-index'] {
  .new-program {
    ul {
      right: 0;
      left: auto;
    }
  }

  table.program-streams tbody tr:hover{
    cursor: pointer;
  }

  .quantity, .actions {
    min-width: 110px;
  }

  .organization {
    min-width: 160px;
  }

  th.status, td,status {
    min-width: 110px;
  }

  th.name {
    min-width: 200px;
  }

  .domain {
    min-width: 300px;
  }

  td a.btn, div.btn {
    margin-left: 5px;
  }

  .nav-tabs {
    margin-bottom: 10px;
    li.active a {
      border-bottom-color: #fff;
    }
  }

  @media (min-width: 768px) {
    .no-margin-top {
      margin-top: 0px;
    }
  }

  th.quantity {
    min-width: 261px;
  }

  .dataTables_scrollBody {
    top: -22px;
  }
}