body[id='program_streams-show'], body[id='program_streams-preview'] {
  .radio-group, .check-box-group {
    margin-top: 10px;
    li {
      list-style-type: none;
      margin-top:  5px;
    }
  }

  #program-stream-info input, #program-stream-info ins {
    cursor: not-allowed;
  }

  .input-margin {
    margin-bottom: 10px;
  }

  .panel-heading {
    cursor: pointer;
    padding: 0;
  }

  .full-height {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 16px;
    margin-top: 0 !important;
  }

  .height-row {
    height: 50px;
  }

  .btn-edit-margin {
    margin-right: 10px;
    margin-top: 10px;
  }
  tr {
    td.description,
    td.domain,
    td.enrolled,
    td.maximum {
      width: 300px;
    }
  }

  #program-stream-info {
    .label-primary, .label-danger {
      float: none;
    }
  }
}
