body[id='client_books-index'] {
  .margin-score {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -4px;
  }

  #jum-to-text {
    display: inline-block;
  }

  #jum-to-date-picker {
    display: inline-block;
    width: 200px;

    .input-group.date {
      margin-bottom: -28px;
    }
  }

  .assessment,
  .case-note,
  .task,
  .enrollment-tracking,
  .client-enrollment,
  .case-history,
  .custom_field_property,
  .client-call {
    .ibox-title {
      position: relative;
      display: block;

      h5 {
        display: block;
        float: none;
      }

      .ibox-tools {
        position: absolute;
        top: 34%;
        right: 0;
      }
    }

    .domain-detail {
      background-color: #f5f5f5;
      width: 380px;
    }

    .domain-score {
      background: white;
      border-radius: 10px;
      padding: 5px 10px;
      min-width: 80px;
    }

    .button {
      min-width: 100px;
    }

    .margin-asse {
      margin-top: -18px;
    }

    .label-primary,
    .label-danger {
      float: none;
    }

    .table.table-borderless td,
    .table.table-borderless th {
      border: none;
    }

    .table.table-borderless td:first-child {
      width: 10%;
    }

    .table.table-borderless td:nth-child(2) {
      width: 80%;
    }
  }

  .assessment {

    .panel.panel-danger,
    .panel.panel-success,
    .panel.panel-warning,
    .panel.panel-primary {
      border-color: white;

      .panel-heading {
        border-radius: 20px;
        color: inherit;
      }
    }

    .panel-warning .panel-heading {
      background-color: #fff3c6;
      border: 2px solid #f7a54a;
    }

    .panel-success .panel-heading {
      background-color: #a0d8ff;
      border: 2px solid #21b9bb;
    }

    .panel-danger .panel-heading {
      background-color: #ff7a7a;
      border: 2px solid #ec4758;
    }

    .panel-primary .panel-heading {
      background-color: #9effb6;
      border: 2px solid #1ab394;
    }

    .no-padding-top {
      padding-top: 0;
    }

    .no-padding-bottom {
      padding-bottom: 0;
    }
  }

  .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    z-index: 1500;
  }

  .back-to-top:hover {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: inline !important;
  }

  table.table-bordered th:last-child,
  table.table-bordered td:last-child {
    border-right-width: 1px;
  }
}
