body[id='referrals-new'],
body[id='referrals-create'],
body[id='referrals-edit'],
body[id='referrals-update'] {
  .file {
    margin-right: 0px !important;
    border: none;
  }

  label.disabled, input.disabled {
    color: #333 !important;
  }
}
