body[id='referrals-new'],
body[id='referrals-create'],
body[id='referrals-edit'],
body[id='referrals-update'] {
  .file {
    margin-right: 0px !important;
    border: none;
  }

  label.disabled,
  input.disabled {
    color: #333 !important;
  }

  .select2-dropdown {
    height: 349px;

    .select2-results {
      max-height: 340px;
      height: 374px;
      overflow-x: scroll;
      overflow-y: scroll;
    }

    .select2-results table tbody tr td {
      cursor: pointer;
    }
  }
}
