%form{ id: 'filtered_by_user', action: tasks_url, method: 'GET', class: 'form-inline'}
  .col-sm-6
    %input{type: 'hidden', value: params[:locale], name: 'locale'}
    .form-group
      %label{ for: 'user_id' }= t('.filter_by_user')
      %select{ id: 'user_id', class: 'form-control', name: 'user_id' }
        - unless params[:user_id]
          %option{ selected: 'selected' }= t('.select_user')
        - @users.each do |user|
          %option{ value: user.id, selected: user.id == params[:user_id].to_i }
            = user.name
      
