body[id='families-new'],
body[id='families-create'],
body[id='families-edit'],
body[id='families-update'] {
  margin-bottom: 50px;

  .icheckbox_square-green{
    margin-right: 10px;
  }

  .i-checks {
    label {
      padding-left: 0;
    }

    .iradio_square-green {
      margin-right: 5px;
    }
  }

  .i-checks.checkbox, .i-checks.dependable-income {
    span.radio {
      display: inline-block;
      margin-right: 20px;
    }
  }

  a.btn-remove {
    margin-top: -15px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 991px) {
    .family_dependable_income {
      padding-top: 0;
    }
  }

  .famliy-street {
    clear: both;
  }

  #family-wizard-form {
    .content > .body {
      width: 100%;
    }

    &.wiz-2-steps {
      ul li {
        width: 50%;
      }
    }

    &.wiz-3-steps {
      ul li {
        width: 33.3%;
      }
    }

    label.control-label {
      text-transform: capitalize;
    }

    .pl-0 {
      padding-left: 0 !important;
    }

    .pr-0 {
      padding-right: 0 !important;
    }

    .family_dependable_income {
      span.radio {
        padding-left: 10px;
        display: inline-block;
      }
    }

    .i-checks.family_family_members_guardian {
      position: relative;

      a.remove_fields {
        position: absolute;
        right: 10px;
        top: -5px;
      }
    }
  }
}
