#families-index {
  #family-search-form {
    margin-top: 20px;
  }

  ul.family-clients-list, ul.family-members-list {
    padding-left: 20px;
  }
  td.manage a {
    margin: 0 5px;
    text-decoration: none;
  }

  table.families {
    margin-bottom: 0;
    th, td {
      min-width: 200px !important;
    }
  }

  .date_filter {
    padding: 6px;
  }

  .dataTables_scrollBody {
    max-height: 500px !important;
  }
}
