#families-index {
  ul.family-clients-list, ul.family-members-list {
    padding-left: 20px;
  }
  td.manage a {
    margin: 0 5px;
    text-decoration: none;
  }
  .form-control {
    min-width: 196px;
  }
}