body[id="families-welcome"],
body[id="families-index"] {
  .pagination > {
    .active > form {
      background-color: #1ab394;
      border-color: #1ab394;
      color: white;
      cursor: default;
      z-index: 2;
    }

    li:first-child > form > input {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    li:last-child > form > input {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    li > form {
      position: relative;
      float: left;
      color: #337ab7;
      background-color: #fff;
      input {
        border: 1px solid #ddd;
        margin-left: -1px;
        padding: 6px 12px;
        line-height: 1.42857143;
        background-color: transparent;
      }
      &:hover {
        z-index: 2;
        color: #23527c;
        background-color: #eeeeee;
        border-color: #ddd;
      }
    }
  }

  #family-search-form {
    margin-top: 20px;
  }

  #family-advance-search-form {
    margin-top: 20px;
  }

  ul.family-clients-list,
  ul.family-members-list {
    padding-left: 20px;
  }
  td.manage a {
    margin: 0 5px;
    text-decoration: none;
  }

  .popover-content {
    max-height: 150px;
    overflow-y: scroll;
  }

  table.families {
    margin-bottom: 0;
    th,
    td {
      min-width: 200px !important;
    }
    th.name,
    td.name {
      min-width: 250px !important;
    }
    th.significant_family_member_count,
    td.significant_family_member_count {
      min-width: 275px !important;
    }
  }

  .date_filter {
    padding: 6px;
  }

  .dataTables_scrollBody {
    max-height: 500px !important;
  }

  table.families tbody tr:hover {
    cursor: pointer;
  }

  table.families,
  .dataTables_scrollHeadInner,
  .dataTables_scrollHead,
  .dataTables_scrollBody {
    width: 100% !important;
  }

  table.families th {
    text-align: center;
  }

  .ibox-content.no-border {
    border-style: none;
  }

  .custom-form,
  .selected-custom-form {
    display: none;
  }
  .checkbox-margin {
    padding-left: 18px;
  }

  .basic-filter-error,
  .custom-form-error {
    color: red;
    display: none;
  }

  .btn-group.group-actions {
    button[data-add="rule"] {
      background-color: #1ab394;
      border-color: #1ab394;
      color: #ffffff;
    }
    button {
      margin-right: 5px;
    }
  }

  .rule-operator-container {
    select {
      width: 180px;
    }
  }

  .rule-value-container {
    border-left: none;
    select,
    input {
      width: 180px;
    }
    input.form-control {
      padding: 6px 12px;
    }
  }

  .family-action {
    display: flex;
  }

  #program-stream-wrapper {
    .form-group.program-stream {
      margin-left: 0;
    }
  }

  .family-column-picker,
  .custom-form,
  .program-stream,
  .selected-custom-form,
  .program-association {
    display: none;
  }

  .program-association {
    margin-left: 16px;
  }

  .ladda-button {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
  }
}
