body[id='families-show'] {
  @import 'clients/client_grid';

  .refer-to-item {
    margin-left: 25px;
  }

  .agree-btn {
    width: 100px;
    text-align: center;
    padding: 6px;
  }

  .family {
    .family-detail {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .agreegate table {
    font-weight: 600;

    .spacing-first-col {
      width: 70%;
    }
  }

  .small-btn-margin {
    margin-top: 8px;
  }

  .h3-header {
    margin: 0;
    width: 87%;
  }

  small.top-right-icon {
    position: absolute;
    top: 16px;
    right: 30px;

    i {
      font-size: 24px;
      padding-top: 5px;
    }
  }

  td.spacing-first-col {
    width: 217px;
  }

  .pushing-top {
    margin-top: 15px;
  }

  .pushing-bottom {
    margin-bottom: 15px;
  }

  .label.label-default {
    line-height: 2.2;
    margin-right: 3px;
  }

  .scrollable-dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    padding: 15px;
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    .scrollable-dropdown-menu {
      width: 350px;
    }
  }

  @media screen and (min-width: 991px){
    .scrollable-dropdown-menu {
      width: 400px;
    }
  }

  .btn-fit {
    min-width: 170px;
  }
}
