- DataTrackerVersion.agency_and_quantitative_case(client_id, event).each do |version|
  - if version_created_at.strftime('%d%m%Y%H%M%S') == version.created_at.strftime('%d%m%Y%H%M%S')
    %div{ class: "panel panel-#{version_color(version.event)}" }
      .panel-body
        .table-responsive
          %table.table.table-hover
            %tbody
              - version.changeset.each do |k, v|
                - next if version_keys_skipable?(k, version.item_type)
                - if k != "created_at" && k != "updated_at" && k != "id"
                  %tr.ad
                    %td.col-sm-4.attribute.ad-id
                      = version_attribute(k, version.item_type)
                    %td.col-sm-4.truncate
                      = version_value_format(v[0], k, v)
                    %td.col-sm-4.truncate
                      = version_value_format(v[1], k, v)
