- unless Organization.ratanak?
  .alert.alert-warning.alert-dismissible{ :role => "alert" }
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %ul
      %li= I18n.t('inline_help.assessments.notes.lists.list1').html_safe

.row
  - if current_setting.disable_required_fields?
    = render 'unrestricted_form', care_plan: @care_plan, client: @client, readonly: false
  - else
    = render 'form'
