.row
  .col-xs-12.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading
        %h4 ពិនិត្យកែសម្រូលការប្រមូលផ្តុំកត្តា / Editing Domain Group
      .panel-body
        = render 'form'