body[id="statistics-index"] {
  .statistic a {
    display: block;
    height: 350px;
    width: 100%;
    text-decoration: none;
  }
  .statistic span {
    display: block;
    padding-top: 140px;
    font-size: 30px;
    color: white;
  }
  .csi-statistic a {
    background: #008055;
  }
  .case-statistic a {
    background: #008080;
  }
  @media (max-width: 440px) {
    .statistic span{
      font-size: 5vw;
      padding-top: 80px;
    }
    .statistic a {
      max-height: 200px;
    }
  }
}