%h3 Additional Information
%section.additional-information
  - @quantitative_types.each do |quantitative_type|
    .row
      .form-group.select.optional
        = f.label "quantitative_type_ids[#{quantitative_type.id}][]", quantitative_type.name
        = select_tag "quantitative_type_ids[#{quantitative_type.id}][]", options_from_collection_for_select(quantitative_type.quantitative_cases, :id, :value), multiple: true, class: 'select optional form-control'
