%ul.family-case-workers-list
  - object.joins(:user).group_by(&:user_id).each do |a|
    - user = User.find(a.first)
    - name = user.name.present? ? user.name : 'Unknown'
    %li= link_to name, user_path(user)