.tooltip-demo
  = link_to '#', {"data-container" => "body", "data-content" => "#{family_workers_list(object)}", "data-original-title" => "Family Members", "data-placement" => "top", "data-toggle" => "popover", :title => "Workers", :type => "button", 'data-html': true} do
    = "Workers : #{object.count}"
