.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.co-md-6
            %h5
              Information/ Release Note
              - if @release_note.present?
                %br
                %span= @release_note.published_at.strftime("%d %b %Y")
      .ibox-content
        - if @release_note.present?
          .panel.panel-info
            .panel-body
              = @release_note.content.html_safe
      .ibox-footer
        .text-center
          = paginate @release_notes
