%tr
  - grid.html_columns(*options[:columns]).each do |column|
    - field_name = column.name
    - field_name = 'member_count' if field_name.to_s.include?('significant_family_member_count')
    - next unless policy(Family).show?(field_name)
    - next if column.header == t('.changelog') && !current_user.admin?

    %th{ class: datagrid_column_classes(grid, column), title: column.header, data: { header: header_classes(grid, column).parameterize } }
      = family_header_counter(grid, column)
      = care_plan_counter() if header_classes(grid, column).parameterize == 'care_plan_completed_date'
      = datagrid_order_for(grid, column, options) if column.supports_order? && options[:order]
