%tr
  - grid.html_columns(*options[:columns]).each do |column|
    - next if column.header == t('.changelog') && !current_user.admin?
    %th{ class: datagrid_column_classes(grid, column), title: column.header, data: { header: header_classes(grid, column).parameterize } }
      = column.header.truncate(65)
      = datagrid_order_for(grid, column, options) if column.supports_order? && options[:order]
