body[id='changelogs-index'] {
  .btn-add {
    margin: 0 0 10px 0;
  }

  td.manage a {
    margin: 0 5px;
    text-decoration: none;
  }

  .list {
    padding: 10px;

    a:hover {
      text-decoration: none;
      transition: all .2s ease-in;
    }

    .glyphicon-pencil, .glyphicon-trash {
      display: none;
    }

    &:hover {
      .glyphicon-pencil, .glyphicon-trash {
        display: block;
      }
    }
  }

  .changes {
    border-left: 1px solid #cacaca;
    padding-left: 50px;
  }

  .changes-item {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .changes-description {
    padding: 10px 10px 10px 0;
  }

  .change {
    padding: 5px 0;
  }

  .change-type {
    display: block;
    padding: 7px 0;
  }

  .glyphicon-pencil {
    margin-right: 10px;
  }

  .view-modification {
    margin-top: 10px;
  }

  .actions a {
    margin-left: 4px;
  }

  @media (min-width: 768px) {
    .view-modification {
      float: right;
    }
  }
}
