.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.family_referrals')
      .ibox-content
        .row
          .col-xs-12.mini-margin
            %ul.list-group
              - @repeat_family_referrals.each do |referral|
                %li.list-group-item
                  = link_to "#{referral.name_of_family} #{referral.slug}", edit_family_path(id: referral.slug, referral_id: referral.id), target: '_blank'
