:plain
  var appearence = $("#{escape_javascript(render partial: 'notifications/referral_table')}");
  $('#program_stream_list.modal #active-program-stream-client .panel-body').html(appearence);
  toastr.clear()
  $('#program_stream_list.modal').modal('show');
