.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.referral_clients')
      .ibox-content
        .row
          .col-xs-12.mini-margin
            %ul.list-group
              - @repeat_referrals.each do |referral|
                %li.list-group-item
                  = link_to "#{referral.client_name} #{referral.slug}", edit_client_path(id: referral.slug, referral_id: referral.id), target: '_blank'
