.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.referral_clients')
      .ibox-content
        = render partial: 'referral_table', locals: { referrals: @repeat_referrals, clients: Client.where(global_id: @repeat_referrals.map(&:client_global_id).uniq) }
