#domains-index {
  .btn-add {
    margin: 0 0 10px 0;
  }
  .panel-heading small a {
    margin: 0 5px;
    text-decoration: none;
  }
  .btn-add-margin {
    margin-right: 10px;
  }
  .actions a {
    margin-left: 4px;
  }
  .ibox-title.domain-ibox{
    border-top: 0px;
  }
  .csi-tab{
    margin-bottom: 10px;
    li.active a {
      border-bottom-color: #fff;
    }
  }

  .btn-option {
    white-space: inherit;
  }
}
