= link_to edit_user_path(object) do
  %i.glyphicon.glyphicon-pencil
- if object.clients_count.zero? && object.cases_count.zero? && object.tasks_count.zero?
  = link_to object, method: 'delete', data: { confirm: 'Are you sure you want to delete?' } do
    %i.glyphicon.glyphicon-trash
- else
  %i.glyphicon.glyphicon-trash