.row
  .col-xs-12.clients
    .ibox
      .ibox-title
        %h5= @results
        %span.label.label-info= t('.results')
      .ibox-content
        .clients-table
          = datagrid_table @client_grid, html: { class: 'table table-bordered table-striped table-hover clients'}
