.panel.panel-default#clients
  .panel-heading
    %h3= t('.clients')
  .panel-body
    .table-responsive
      = datagrid_table @client_grid, html: { class: 'table table-bordered table-striped table-hover clients'}