.thredded--topic-read .thredded--topics--posts-count {
  background: rgba(87,93,107,0.3);
  color: #fff;
}

.thredded--topic-unread .thredded--topics--posts-count {
  background: #4a90e2;
  color: #fff;
}
