#per_page_form
  = simple_form_for('', url: url_for(action: 'version'), method: 'GET') do |f|
    .row
      .col-xs-8.col-md-4.text-right
        %label.page-select-label
          = t('.show')
      .col-xs-4.col-md-8.page-select
        = f.input :per_page, as: :select, collection: [5, 10 ,15, 20], selected: params[:per_page] || 20, label: false
