- if custom_field.present?
  = f.simple_fields_for :properties, OpenStruct.new(entity.properties_objs) do |prop_f|
    - custom_field.field_objs.each_slice(3) do |n_field|
      - n_field.each do |field|
        .row
          .col-xs-12.col-md-6
            = render "/shared/fields/#{field['type'].underscore}", f: prop_f, field_props: field, errors: entity.errors.messages
