%h5= f.object.able_screening_question.question
- if f.object.able_screening_question.free_text?
  = f.input :description, label: 'Answer'
- else
  = f.input :description, as: :boolean, label: 'Yes/No'
= f.input :able_screening_question_id, as: :hidden, input_html: { value: f.object.able_screening_question_id }
%hr
