-# - object.assessments.each do |a|
-#   .tooltip-demo
-#     %button.btn.btn-info.btn-xs.btn-assessment{ 'data-container' => 'body', 'data-content' => a.assessment_domains_score, 'data-placement' => 'top', 'data-toggle' => 'popover', title: '', 'data-html': 'true' }
-#       = date_format(a.created_at)

- if params[:data] == 'recent'
  - recent_record = object.assessments.latest_record.try(:created_at)
  - if recent_record.present?
    %ul{'data-date_of_assessments': '' }
      %li= date_format(recent_record)
- else
  - if object.assessments.most_recents.any?
    %ul{'data-date_of_assessments': '' }
      - date_filter(object.assessments.most_recents, 'date_of_assessments').each do |assessment|
        %li= date_format(assessment.created_at)
