-# - object.assessments.each do |a|
-#   .tooltip-demo
-#     %button.btn.btn-info.btn-xs.btn-assessment{ 'data-container' => 'body', 'data-content' => a.assessment_domains_score, 'data-placement' => 'top', 'data-toggle' => 'popover', title: '', 'data-html': 'true' }
-#       = a.created_at.strftime('%d %b, %Y')

%ul
  - if params[:data] == 'recent'
    %li= date_format(object.assessments.most_recents.first.try(:created_at))
  - else
    - object.assessments.most_recents.each do |assessment|
      %li= date_format(assessment.created_at)
