.modal.fade{ role: 'dialog', tabindex: '-1', id: "case_history_edit_#{index}"}
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "#{t('.close')}", "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          = case_history_label(object.first)
      .modal-body
        %table.table.table-bordered
          %tbody
            - case_history = object.first.class.table_name
            - client = object.last
            - case case_history
            - when 'enter_ngos'

            - when 'exit_ngos'
              = render 'client/exit_ngos/edit_form', client: client, exit_ngo: object.first
            - when 'client_enrollments'
            - when 'leave_programs'
            - when 'referrals'
