- if params[:data].presence == 'recent'
  - recent_record = object.case_notes.most_recents.order(meeting_date: :desc).first.try(:meeting_date)
  - if recent_record.present?
    %li= date_format(recent_record)
- else
  - object.case_notes.most_recents.each do |case_note|
    %li= date_format(case_note.meeting_date) if case_note.meeting_date.present?
