- if params[:data] == 'recent'
  - recent_record = object.case_notes.most_recents.order(meeting_date: :desc).first.try(:interaction_type)
  - if recent_record.present?
    %li= recent_record
- else
  - object.case_notes.most_recents.each do |case_note|
    - if case_note.interaction_type.present?
      %li= case_note.interaction_type
