#check-task-modal.modal.fade{ 'aria-hidden' => 'true', role: 'dialog' }
  .modal-dialog
    .modal-content.panel-warning
      .modal-header.panel-heading
        %button.close{ 'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button' } ×
        %h4.modal-title= t('.title')
      .modal-body.text-center
        %p= t('.body')
      .modal-footer
        %button.btn.btn-default{ 'data-dismiss' => 'modal', type: 'button' }
          = t('.close')
