- if params[:data] == 'recent'
  - recent_record = enrolled_programs.order(created_at: :desc).first&.program_stream&.name
  - if recent_record.present?
    %ul{'data-program_stream': '' }
      %li= recent_record
- else
  - enrolled_programs = program_stream_name(enrolled_programs, 'enrolled_program_stream')
  - all_programs = enrolled_programs.map{ |c| c.program_stream.name }.uniq
  - if all_programs.any?
    %ul{'data-program_streams': '' }
      - all_programs.each do |program_name|
        %li= program_name
