- if params[:data].presence == 'recent'
  - recent_record = object.exit_ngos.most_recents.first.try(:exit_date)
  - if recent_record.present?
    %ul
      %li= date_format(recent_record)
- else
  %ul
    - object.exit_ngos.most_recents.each do |exit_ngo|
      - if exit_ngo.exit_date.present?
        %li= date_format(exit_ngo.exit_date)
