- cache [Apartment::Tenant.current, client, 'exit_circumstance', exit_ngos, params[:data]] do
  - if params[:data].presence == 'recent'
    - recent_record = exit_ngos.first&.exit_circumstance
    - if recent_record.present?
      %ul
        %li= recent_record
  - else
    %ul
      - exit_ngos.each do |exit_ngo|
        - if exit_ngo.exit_circumstance.present?
          %li= exit_ngo.exit_circumstance
