- cache cache_keys_base + [client, 'exit_reasons', exit_ngos, params[:data]] do
  - if params[:data].presence == 'recent'
    - recent_record = exit_ngos.first&.exit_reasons
    - if recent_record.present?
      %ul
        %li= recent_record.join(', ')

  - else
    %ul
      - reasons = [ExitNgo::EXIT_REASONS.sort, I18n.t('client.exit_ngos.form.exit_reason_options').values].transpose.to_h
      - exit_ngos.each do |exit_ngo|
        - if exit_ngo.exit_reasons.present?
          %li= exit_ngo.exit_reasons.map{ |reason| reasons[reason] }.join(', ')
