- if params[:data].presence == 'recent'
  - recent_record = object.exit_ngos.most_recents.first.try(:exit_reasons)
  - if recent_record.present?
    %ul{'data-exit_reasons': object.exit_ngos.count }
      %li= recent_record.join(', ')

- else
  %ul{'data-exit_reasons': object.exit_ngos.count }
    - object.exit_ngos.most_recents.each do |exit_ngo|
      - if exit_ngo.exit_reasons.present?
        %li= exit_ngo.exit_reasons.join(', ')
