- if params[:data].presence == 'recent'
  - recent_record = object.exit_ngos.most_recents.first&.other_info_of_exit
  - if recent_record.present?
    %ul
      %li= recent_record
- else
  %ul
    - object.exit_ngos.most_recents.each do |exit_ngo|
      - if exit_ngo.other_info_of_exit.present?
        %li= exit_ngo.other_info_of_exit
