.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5=  t('.edit_client_title')
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
          %a.fullscreen-link
            %i.fa.fa-expand
      = render 'form'