.row
  .col-xs-12
    .ibox
      .ibox-title.edit-form
        %h5= t('.edit_client_title')
      .consent-forms
        - if @referral.present? && @referral.consent_form.present?
          = link_to t('.download_supporting_documents'), @referral.consent_form.url, class: 'btn btn-info btn-sm btn-download', target: target_blank(@referral.consent_form)
      .ibox-content
        = render 'form'
