.row
  .col-xs-12.col-md-8.col-md-offset-2
    .ibox
      .ibox-title
        %h5= t('.title')
      .ibox-content
        .row
          .col-xs-12
            %span= t('.edit_task_regarding')
            %strong= @family.name
        .row
          .col-xs-12.mini-margin
            = render 'form'
