.col-xs-12.col-sm-6.col-md-4
  = f.input :suburb, label: t('.suburb')
.col-xs-12.col-sm-6.col-md-4
  = f.input :description_house_landmark, label: t('.description_house_landmark')
.col-xs-12.col-sm-6.col-md-4
  = f.input :directions, label: t('.directions')