.col-xs-12
  = line_chart(@cases_statistic , { library: { tooltip: { shared: true }, title: { text: "#{t('.case_statistic')}" }, yAxis: { title: { text: "#{t('.client_amount')}" }}}, height: "400px"})

