body[id='cases-index'] {
  .case {
    .case-detail {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  td.spacing-first-col {
    width: 172px;
  }

  .pushing-bottom {
    padding-bottom: 15px;
  }

  .h3-header {
    margin: 0;
  }

  .button {
    min-width: 100px;
    color: #6B6A6C;
  }
}
