body[id='domain_groups-index'] {
  .btn-add {
    margin: 0 0 10px 0;
  }

  .modification {
    min-width: 100px;
  }
}


body[id^='settings-'] {
  label.default_assessment {
    margin-bottom: 10px;
  }
}

#tablist-cms-tools {
  margin-bottom: 20px;
}


