.row.header
  - if current_organization.local_language.blank?
    .col-md-4
      %p Name
    .col-md-4
      %p Label
  - else
    .col-md-3
      %p Name
    .col-md-3
      %p English Label
    .col-md-3
      %p= "Local Label (#{current_organization.local_language})"

  .col-md-1
    %p Show
  .col-md-1
    %p Required
