#modal-prevent-show-my-save-search.modal.fade{ role: 'dialog' }
  #prevent-show-my-save-search.modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.btn-modal-cancel.close{ 'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button' } ×
      .modal-body
        This program stream has been deleted.So, we cannot show load save search.Would you like to delete?
      .modal-footer
        %button.btn.btn-outline.btn-danger{"data-dismiss" => "modal", :type => "button"}= t('.Save')
        %button.btn.btn-outline.btn-default{"data-dismiss" => "modal", :type => "button"}= t('.cancel')



