body[id='organizations-index']{
  .org-logo{
    width: 100px;
  }

  .organizations {
    padding: 15px;
  }

  .organization {
    background: #fff;
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
    text-align: center;
    transition: 0.3s;
    vertical-align: middle;
    &:hover {
      box-shadow: 1px 1px 10px #888888;
    }
    img {
      max-height: 50%;
      max-width: 80%;
    }
  }

  li#language-selection-dropdown {
    padding: 10px;
  }

  @media (min-width: 768px) {
    .organizations {
      padding: 0;
    }

    .organization {
      height: 150px;
      line-height: 150px;
    }
  }

  @media (min-width: 992px) {
    .organization {
      height: 180px;
      line-height: 175px;
    }
  }
}
