.row
  .col-xs-12
    .ibox
      .ibox-title
        %h4= @custom_field.form_title
      .ibox-content
        .row
          .col-xs-12.col-md-8
            .build-wrap{ 'data-fields': @custom_field.fields }
      .ibox-footer
        = link_to 'Custom Form List', custom_fields_path, class: 'btn btn-success form-btn'
