#csi-tools.tab-pane{ role: "tabpanel", class: ('active' if params[:tab] == 'csi-tools' || params[:tab].blank?) }
  .row
    .col-xs-12
      .ibox
        .ibox-title.domain-ibox
          %h5= @results
          %span.label.label-info= t('.domains')

        = render partial: 'domain_list', collection: @domains, as: :domain, locals: { custom_domain_setting_name: nil, custom_assessment_setting_id: nil }
        .text-center
          = paginate @domains, params: { tab: 'csi-tools' }, :param_name => 'page_1'
