%div.tab-pane{ role: "tabpanel", id: "family-custom-csi-tools" }
  .row
    .col-xs-12
      .ibox
        .ibox-title.domain-ibox
          %h5= 0
          %span.label.label-info= t('.domains')
          .ibox-tools
