.row
  .col-xs-12
    .ibox.min-margin-layout
      .ibox-content
        %div
          %ul.nav.nav-tabs.csi-tab{role: "tablist"}
            %li.active{role: "presentation"}
              %a{"aria-controls" => "csi-tools", "data-toggle" => "tab", href: "#csi-tools", role: "tab"}= t('.csi_tool')
            - if @custom_domains.present?
              %li{role: "presentation"}
                %a{"aria-controls" => "custom-csi-tools", "data-toggle" => "tab", href: "#custom-csi-tools", role: "tab"}= t('.custom_csi_tool')
          .tab-content
            = render 'csi_tool'
            - if @custom_domains.present?
              = render 'custom_csi_tool'
