body[id='quantitative_types-index'] {
  .btn-add {
    margin: 0 0 10px 0;
  }
  small a {
    padding: 0 5px;
  }

  .modification {
    min-width: 100px;
  }
  .btn-add-margin {
    margin-right: 10px;
  }
}
