- if can? :manage, Enrollment
  - if program_stream.enroll?(@programmable)
    - if program_stream.maximum_entity?
      .label.label-info= t('.full_program')
    - elsif program_stream.archived_at.nil?
      = enrollment_new_link(program_stream, 'Family')
