.row.mini-margin
  .col-xs-12.col-md-8.col-md-offset-2
    - @organizations.each do |org|
      = link_to dashboards_url(subdomain: org.short_name) do
        .col-sm-6.col-md-4
          .thumbnail
            = image_tag(org.logo)
            .caption
              %h3.text-center= org.full_name
