default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  schema_search_path: "cif,newsmile,public"

development:
  <<: *default
  database: <%= ENV['DATABASE_NAME'] %>

test:
  <<: *default
  database: <%= "#{ENV['DATABASE_NAME_TEST']}" %>

staging:
  <<: *default
  database: <%= ENV['DATABASE_NAME'] %>

demo:
  <<: *default
  database: <%= ENV['DATABASE_NAME'] %>

production:
  <<: *default
  database: <%= ENV['DATABASE_NAME'] %>
  host: <%= ENV['DATABASE_HOST'] %>
  port: <%= ENV['DATABASE_PORT'] %>
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
