development:
  clients:
    default:
      database: <%= ENV["HISTORY_DATABASE_NAME"] %>
      hosts:
        - <%= ENV["HISTORY_DATABASE_HOST"] || 'localhost' %>:27017
      options:
        user: <%= ENV['DATABASE_USER'] %>
        password: <%= ENV['DATABASE_PASSWORD'] %>
        auth_mech: :scram
        read:
          mode: primary
        max_pool_size: 1
  options:
test:
  clients:
    default:
      database: <%= ENV["HISTORY_DATABASE_NAME_TEST"] %>
      hosts:
        - <%= ENV["HISTORY_DATABASE_HOST"] || 'localhost' %>:27017
      options:
        user: <%= ENV['DATABASE_USER'] %>
        password: <%= ENV['DATABASE_PASSWORD'] %>
demo:
  clients:
    default:
      database: <%= ENV["HISTORY_DATABASE_NAME"] %>
      hosts:
        - <%= ENV["HISTORY_DATABASE_HOST"] || 'localhost' %>:27017
      options:
  options:
ratanak_staging:
  clients:
    default:
      database: <%= ENV["HISTORY_DATABASE_NAME"] %>
      hosts:
        - <%= ENV["HISTORY_DATABASE_HOST"] || 'localhost' %>:27017
      options:
  options:
staging:
  clients:
    default:
      database: <%= ENV["HISTORY_DATABASE_NAME"] %>
      hosts:
        - <%= ENV["HISTORY_DATABASE_HOST"] || 'localhost' %>:27017
      options:
  options:
production:
  clients:
    default:
      database: <%= ENV["HISTORY_DATABASE_NAME"] %>
      hosts:
        - <%= ENV["HISTORY_DATABASE_HOST"] || 'localhost' %>:27017
      options:
  options:
production_api:
  clients:
    default:
      database: <%= ENV["HISTORY_DATABASE_NAME"] %>
      hosts:
        - <%= ENV["HISTORY_DATABASE_HOST"] || 'localhost' %>:27017
      options:
  options:
