-# = form_tag new_calendar_path, method: 'get' do
-#   .row
-#     .col-xs-9.col-sm-6.col-md-8.col-lg-4
-#       = text_field_tag :summary, nil, class: 'form-control', placeholder: 'Summary', required: true
-#     .col-xs-9.col-sm-6.col-md-8.col-lg-4
-#       %label.date.optional.control-label{ for: 'client_follow_up_date' }= t('.follow_up_date')
-#       .input-group.date
-#         = text_field_tag :start_date
-#         %span.input-group-addon
-#           %i.fa.fa-calendar-check-o
-#     .col-xs-9.col-sm-6.col-md-8.col-lg-4
-#       %label.date.optional.control-label{ for: 'client_follow_up_date' }= t('.follow_up_date')
-#       .input-group.date
-#         = text_field_tag :end_date
-#         %span.input-group-addon
-#           %i.fa.fa-calendar-check-o
-#     .col-xs-3.col-sm-6.col-md-4
-#       = submit_tag 'Add event', name: nil, class: 'btn btn-primary'
