.col-xs-12
  = link_to 'Edit', edit_partner_partner_custom_field_path(@partner_custom_field.partner, @partner_custom_field), class: 'btn-xs btn btn-success small-btn-margin'
  .ibox
    .ibox-title
      %h5= @partner_custom_field.custom_field.form_type
    .ibox-content
      %table.table.table-bordered
        - @partner_custom_field.properties_objs.try(:each) do |key, value|
          %tr
            %td.align-justify
              = key.titleize
            %td.align-justify
              = client_properties(value)
