body[id=case_notes-new],
body[id=case_notes-edit],
body[id=case_notes-update],
body[id=case_notes-create] {
  .case_note_meeting_date {
    margin-top: 10px;
  }

  .bg-color {
    background-color: #ffffcc;
  }

  .icheckbox_square-green {
    margin-right: 10px;
  }

  .margin-score {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -4px;
  }

  .case-note-margin {
    position: relative;
    left: -110px;
  }

  .btn-form {
    width: 110px;
    margin-right: 5px;
  }

  ol li.list-group-item {
    list-style: decimal inside;
    display: list-item;
  }

  .new_case_note {
    padding-bottom: 20px;
  }

  label.disabled {
    color: #333333 !important;
  }

  .disabled label {
    color: #333333;
  }

  .links img,
  .nested-fields img {
    width: 150px;
    cursor: pointer;
  }

  .file {
    margin-right: 0;
  }

  .show-attachment img {
    margin: 0 auto;
    width: 150px;
  }

  .image-title {
    width: 70%;
  }

  .table.attachment-table tbody>tr>td {
    vertical-align: top;
  }

  .table.attachment-table tbody>tr>td.vert-align {
    vertical-align: middle;
  }

  .assessment-domain-panel {
    margin-bottom: 5px;
  }

  .ibox.case-note-domain-group {
    border: 1px solid #e7eaec;
    border-radius: 4px;

    .ibox-title {
      position: relative;
      padding-bottom: 40px;

      .ibox-tools {
        position: absolute;
        right: 15px;
        top: 15px;
      }
    }
  }

  .ibox.case-note-domain-group.without-assessments {
    .ibox-title h5 {
      margin: 7px 5px 0 0;
    }
  }

  #add-task-message {
    display: inline-block;
    margin-top: 15px;
    display: none;
  }

  .btn-default.case-note-domain-score {
    pointer-events: none;
  }

  label.boolean {
    font-weight: bold;
  }

  .panel-heading .popover-content {
    color: black !important
  }
}
