body[id=case_notes-new],
body[id=case_notes-edit],
body[id=case_notes-update],
body[id=case_notes-create] {
  .case_note_meeting_date {
    margin-top: 10px;
  }
  .bg-color{
    background-color: #ffffcc;
  }
  .icheckbox_square-green{
    margin-right: 10px;
  }
  .margin-score {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -4px;
  }
  .case-note-margin{
    position: relative;
    left: -110px;
  }
  .btn-form{
    width: 110px;
    margin-right: 5px;
  }
  ol li.list-group-item{ 
    list-style: decimal inside;
    display: list-item;
  }
  .new_case_note {
    padding-bottom: 20px;
  }
}
