body[id=case_notes-index] {
  .margin-score {
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
  }

  .button {
    min-width:100px;
    margin-right: 10px;
  }

  .pushing-top {
    margin-top: 15px;
  }
}
