body[id='case_notes-index'] {
  .margin-score {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -4px;
  }
  .button {
    min-width:100px;
    margin-right: 10px;
  }
  .pushing-top {
    margin-top: 15px;
  }

  h4 .btn {
    margin-left: 10px;
  }
  .margin-button {
    margin-bottom: 20px;
  }
  #case-note-selection {
    .dropdown-menu li a {
      padding: 0 5px;
      min-height: 0;
    }
  }
  #case-note-dropdown {
    right: 0;
    left: auto;
  }

  li .disabled {
    color: black !important;
    cursor: not-allowed;
  }
}
