body[id='custom_field_properties-new'],
body[id='custom_field_properties-create'],
body[id='custom_field_properties-edit'],
body[id='custom_field_properties-update'] {
  
  .links img, .nested-fields img {
    width: 150px;
    cursor: pointer;
  }

  .file {
    margin-right: 0;
  }
  
  .show-attachment img {
    margin: 0 auto;
    width: 150px;
  }

  .image-title{
    width: 70%;
  }

  .table.attachment-table tbody>tr>td{
    vertical-align: top;
  }
  .table.attachment-table tbody>tr>td.vert-align{
    vertical-align: middle;
  }
}