- unless @enrollment.program_stream.tracking_required?
  - if policy(@enrollment).update? && (can? :manage, ClientEnrollmentTracking)
    = link_to new_client_client_enrollment_client_enrollment_tracking_path(@client, @enrollment, tracking_id: object.id, program_streams: params[:program_streams]) do
      .btn.btn-primary.btn-xs= t('.new_tracking')
