- if (can? :manage, ClientEnrollmentTracking) && !@enrollment.program_stream.tracking_required?
  = link_to new_client_client_enrollment_client_enrollment_tracking_path(@client, @enrollment, tracking_id: object.id) do
    .btn.btn-primary.btn-xs= t('.new_tracking')
