%li
  - unless current_page.last?
    - pagination_params = url.include?('page') ? request.parameters.merge(page: Rack::Utils.parse_nested_query(url)['page'].to_i) : params
    - if params[:controller] == 'clients' || params[:controller] == 'families'
      = button_to raw(t 'views.pagination.next'), advanced_search_url_dynamic, params: pagination_params, :rel => 'next', :remote => remote, form_class: 'hidden-post-form'
  - else
    = link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote
