- if page.current?
  %li.active
    = content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil))
- else
  %li
    - if params[:controller] == 'clients'
      - pagination_params = url.include?('page') ? request.parameters.merge(page: Rack::Utils.parse_nested_query(url)['page'].to_i) : request.parameters.merge(page: 1)
      = button_to page, ad_search_clients_path, params: pagination_params, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), form_class: 'hidden-post-form'
    - else
      = link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil))
