!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Error 404 (Not Found)
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all'
    :css
      body {
          padding-top: 10%;
        }

        h1 {
          font-size: 100px;
          font-weight: bold;
          color: #E6483D;
        }

        h3 {
          font-size: 40px;
          font-weight: bold;
        }

        p {
          font-size: 16px;
        }

        a.btn {
          background: #E6483D;
          border-color: #E6483D;
          font-weight: bold;
        }

        a.btn:hover {
          background: #EC281A;
          border-color: #EC281A;
        }

        .error-content {
          margin-top: 5%;
          padding-bottom: 5%;
        }

  %body{ id: "#{controller_name}-#{params[:action]}", style: 'background-color: #fff;' }
    .container
      .row
        .col-xs-12.text-center.error-content
          %h1
            404
            = image_tag Organization.current.logo.url if Organization.current
          %h3.text-uppercase Page Not Found
          %p.text-muted.text-uppercase Page you are looking for was moved, removed, renamed or does not exist.
          %a.btn.btn-success.btn-lg.text-uppercase{:href => "/"} Go Home
