!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Error 500 (Internal Error)
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all'
    :css
      body {
          padding-top: 10%;
        }

        h1 {
          font-size: 100px;
          font-weight: bold;
          color: #E6483D;
        }

        h3 {
          font-size: 40px;
          font-weight: bold;
        }

        p {
          font-size: 16px;
        }

        a.btn {
          background: #E6483D;
          border-color: #E6483D;
          font-weight: bold;
        }

        a.btn:hover {
          background: #EC281A;
          border-color: #EC281A;
        }

        .error-content {
          padding-bottom: 5%;
        }

  %body{ id: "#{controller_name}-#{params[:action]}", style: 'background-color: #fff;' }
    .container
      .text-center
        = image_tag Organization.current.logo, width: 110 if Organization.current
      .row
        .col-xs-12.text-center.error-content
          %h1.text-center
            500
          %h3.text-uppercase Oops! We've experienced a server-side error!
          %p.text-muted Very annoyingly, that means you can't do what you're trying to do right now. But on the plus-side, this error has automatically triggered a notification to the development team, and we'll be checking out the problem straight away! If you come back and try again later, hopefully we'll have it working by then. Thanks for your patience!
          %a.btn.btn-success.btn-lg.text-uppercase{:href => "/"} Go Home
