---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ing-{{ stage }}-{{ project_id }}
  namespace: '{{ k8s_namespace }}'
spec:
  rules:
    - host: {{ domain_name }}
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: 'svc-{{ stage }}-{{ project_id }}-webapp'
                port:
                  number: 3000
