---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: 'app-{{ stage }}-{{ project_id }}-mongo'
  namespace: '{{ k8s_namespace }}'
  annotations:
    reloader.stakater.com/auto: 'true'
spec:
  selector:
    matchLabels:
      app: 'app-{{ stage }}-{{ project_id }}-mongo'
  template:
    metadata:
      labels:
        app: 'app-{{ stage }}-{{ project_id }}-mongo'
    spec:
      imagePullSecrets:
        - name: secret-osc
      containers:
        - image: {{ mongo_db_ver }}
          name: 'app-{{ stage }}-{{ project_id }}-mongo'
          imagePullPolicy: Always
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_DATABASE
              value: {{ mongo_db_name }}
            - name: MONGO_INITDB_ROOT_USERNAME
              value: {{ mongo_db_user }}
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: "{{ mongo_db_pass }}"
          volumeMounts:
            - name: tz-config
              mountPath: /etc/localtime
            - name: vol-{{ stage }}-{{ project_id }}-osc
              mountPath: /data/db
              subPath: mongodata
      volumes:
        - name: tz-config
          hostPath:
            path: /usr/share/zoneinfo/Asia/Phnom_Penh
        - name: vol-{{ stage }}-{{ project_id }}-osc
          persistentVolumeClaim:
            claimName: pvc-{{ stage }}-{{ project_id }}-osc
---
apiVersion: v1
kind: Service
metadata:
  name: 'svc-{{ stage }}-{{ project_id }}-mongo'
  namespace: '{{ k8s_namespace }}'
spec:
  ports:
    - port: 27017
  selector:
    app: 'app-{{ stage }}-{{ project_id }}-mongo'
