body[id='client_enrollments-index'],
body[id='client_enrolled_programs-index'] {
  td.manage {
    min-width: 150px;
    .btn-width {
      min-width: 60px;
    }
  }

  th.quantity, td.quantity {
    min-width: 250px;
  }

  th.name, td.name {
    min-width: 150px;
  }

  th.status, th.report, td.status, td.report {
    min-width: 100px;
  }
}
