body[id='client_enrolled_programs-show'],
body[id='client_enrollments-show'] {
  .image-title {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .answer {
    padding-left: 16px;
  }

  .margin-btn {
    margin-left: 10px;
  }

  .preview {
    width: 30%;
  }

  .action {
    width: 15%;
  }

  .min-width-btn {
    min-width: 100px;
    margin: 10px 10px 10px 0;
  }

  .ibox .ibox-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
