body[id='quarterly_reports-index'] {
  .button {
    width: 100px;
  }
  .pushing-bottom {
    margin-bottom: 15px;
  }
  .pushing-top {
    margin-top: 15px;
  }
  table.quarterly-reports tbody tr:hover {
    cursor: pointer;
  }
}
