body[id=quarterly_reports-show] {
  .button {
    width: 100px;
  }

  .pushing-top {
    margin-top: 15px;
  }

  .pushing-bottom {
    margin-bottom: 15px;
  }

  .spacing-first-col {
    width: 375px;
    min-width: 375px;

  }
  
}