body[id="clients-index"],
body[id="clients-welcome"],
body[id="families-welcome"],
body[id="families-index"],
body[id="partners-index"],
body[id="families-show"],
body[id="users-show"],
body[id="client_advanced_searches-index"] {
  .export-client {
    margin-top: -16px;
  }

  table.clients {
    tbody {
      tr {
        td {
          @include hyphens(auto);
          font-size: 14px;
          height: 57px;

          .showmore_content {
            position: relative;
            overflow: hidden;
          }

          .showmore_trigger {
            width: 100%;
            text-align: center;
            height: 25px;
            cursor: pointer;
          }

          .showmore_trigger span {
            display: block;
          }
        }
      }
    }

    th,
    td.gender,
    td.status,
    td.follow_up_date,
    td.date_of_birth,
    td.school_grade,
    td.has_been_in_orphanage,
    td.has_been_in_government_care,
    td.initial_referral_date,
    td.referral_phone,
    td.able,
    td.birth_province,
    td.province,
    td.birth_province_id,
    td.province_id,
    td.state,
    td.case_start_date,
    td.type_of_service,
    td.cases,
    td.accepted_date,
    td.exit_date,
    td.created_at,
    td.created_by,
    td.referred_to,
    td.date_of_referral,
    td.referred_from,
    td.call-field,
    td.client-hotline-field,
    td.legal-document-header {
      text-align: center;
    }

    th.changelog,
    th.referred_in,
    th.referred_out {
      min-width: 100px;
    }

    th.slug,
    th.school_grade,
    th.gender,
    th.cases,
    th.case_start_date,
    th.legal-document-header {
      min-width: 130px;
    }

    th.state,
    th.township {
      min-width: 135px;
    }

    th.assessment_created_at,
    th.date_of_assessments,
    th.assessment_completed_date,
    th.custom_completed_date,
    th.completed_date {
      min-width: 200px;
    }

    th.date_of_custom_assessments,
    th.custom_assessment_created_at,
    th.custom_assessment {
      min-width: 250px;
    }

    th.created_at,
    th.created_by,
    th.referred_to,
    th.referred_from,
    th.any_assessments,
    th.able_state,
    th.house_number,
    th.street_number,
    th.village,
    th.case_note_date,
    th.case_note_type,
    th.plot,
    th.road,
    th.user_id,
    th.donor_name,
    th.postal_code,
    th.time_in_care,
    th.time_in_cps,
    th.time_in_ngo,
    th.referee_name,
    th.referee_phone,
    th.referee_email,
    th.carer_name,
    th.carer_phone,
    th.carer_email,
    th.phone_owner,
    th.client_phone,
    th.address_type,
    th.client_email,
    th.client_address_type,
    th.indirect_beneficiaries {
      min-width: 150px;
    }

    th.kid_id,
    th.street_line1,
    th.street_line2 {
      min-width: 175px;
    }

    th.code,
    th.given_name,
    th.family_name,
    th.live_with,
    th.local_given_name,
    th.local_family_name,
    th.care_plan_date,
    th.care_plan_completed_date,
    th.commune,
    th.district,
    th.suburb,
    th.directions,
    th.subdistrict,
    th.type_of_service,
    th.call-field,
    th.client-hotline-field {
      min-width: 185px;
    }

    th.name,
    th.status,
    th.manage,
    th.cases,
    th.has_this_form,
    th.protection_concern_id,
    th.necessity_id,
    th.initial_referral_date,
    th.current_address,
    th.accepted_date,
    th.exit_date,
    th.brc-fields,
    th.program_streams,
    th.program_enrollment_date,
    th.program_exit_date,
    th.exit_reasons,
    th.exit_circumstance,
    th.family:not(.form-builder),
    th.family_id,
    th.family_type,
    th.other_info_of_exit,
    th.exit_note,
    th.main_school_contact,
    th.name_of_referee,
    th.what3words {
      min-width: 200px;
    }

    th.telephone_number,
    th.age,
    th.follow_up_date,
    th.received_by,
    th.followed_up_by,
    th.agency,
    th.date_of_birth,
    th.school_name,
    th.referral_phone,
    th.birth_province,
    th.birth_province_id,
    th.province,
    th.province_id,
    th.referral_source,
    th.referral_source_id,
    th.referral_source_category,
    th.referral_source_category_id,
    th.date_of_referral,
    th.rejected_note,
    th.user,
    th.donor {
      min-width: 250px;
    }

    th.all_csi_assessments,
    th.all_custom_csi_assessments,
    th.has_disability,
    th.has_hiv_or_aid {
      min-width: 260px;
    }

    th.has_been_in_government_care,
    th.relevant_referral_information,
    th.description_house_landmark,
    th.quantitative-type,
    th.rated_for_id_poor,
    th.referee_relationship_to_client,
    th.carer_relationship_to_client {
      min-width: 310px;
    }

    th.reason_for_family_separation,
    th.history_of_high_risk_behaviours,
    th.history_of_harm,
    th.history_of_disability_and_or_illness,
    th.has_known_chronic_disease {
      min-width: 360px;
    }

    th.has_been_in_orphanage,
    th.protection_from_abuse_and_exploitation {
      min-width: 280px;
    }

    th[class^="tracking__"],
    td[class^="tracking__"] {
      min-width: 280px;
    }

    th.level_of_risk,
    th.date_of_risk_assessment {
      text-align: center;
      min-width: 175px;
    }

    td.manage {
      a {
        margin: 0 5px;
        text-decoration: none;
      }
    }
  }

  ul.check-columns-visibility {
    padding-left: 0;

    li:first-child {
      padding: 5px 0px 15px auto;
    }

    li {
      list-style: none;
    }

    .columns-visibility {
      max-height: 250px;
      width: 390px;
      overflow-y: scroll;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .visibility {
      margin: 2px 0 2px 0;

      label {
        font-weight: normal;
      }
    }

    .all-visibility {
      margin: 2px 0 2px 0;
    }
  }

  table.clients {
    margin-bottom: 0;

    th {
      border-bottom-width: 2px;
    }

    tbody tr:hover {
      cursor: pointer;
    }
  }

  table.clients,
  .dataTables_scrollHeadInner,
  .dataTables_scrollHead,
  .dataTables_scrollBody {
    width: 100% !important;
  }

  .dataTables_scrollHeadInner {
    padding-right: 0 !important;
  }

  .dataTables_scrollBody {
    max-height: 500px !important;
  }

  .popover.fade.top.in {
    max-width: 271px;
  }

  .btn-assessment {
    min-width: 100px;
    margin-bottom: 3px;
  }

  .dataTables_info {
    padding-top: 15px;
  }

  .client-option {
    line-height: 38px;
  }

  .client-custom-fields-list {
    padding-left: 25px;
    margin-right: 15px;
  }
}
