body[id='clients-new'], body[id='clients-create'],
body[id='clients-edit'], body[id='clients-update']{
  .wizard > .content > .body {
    #getting_started, #living_detail, #other_detail, #specific_point {
      position: relative;
      input[type='radio'] {
        display: inline-block;
      }
    }
  }
  .wizard > .actions a[href="#finish"], .wizard > .actions a[href="#finish"]:hover, .wizard > .actions a[href="#finish"]:active {
      background: #1ab394;
  }

  .steps.clearfix ul li {
    width: 25%;
  }

  .content.clearfix {
    background-color: inherit;
    section {
      padding: 0;
      width: 100%;
    }
  }

  .icheckbox_square-green{
    margin-right: 10px;
  }

  .has-been-in-government-care,
  .has-been-in-orphanage {
    span {
      display: inline-block;
      margin-right: 20px;
    }
    label {
        padding-left: 0;
    }
    .iradio_square-green {
      margin-right: 5px;
    }
  }

  .disabled {
    color: #333 !important;
  }
  .input-group-addon.what3words{
    padding: 2px;
  }
  .what3words-image{
    height: 17%;
  }
  .save-edit-client{
    margin-top: -67px;
  }
  .cancel-client-button{
    position: relative;
  }

  .consent-forms, .house_number {
    clear: both;
  }
}
