body[id='clients-new'], body[id='clients-create'],
body[id='clients-edit'], body[id='clients-update']{

  .question_and_answer {
    margin-bottom: 16px;
  }

  .icheckbox_square-green{
    margin-right: 10px;
  }

  .disable-qa{
    color: gray;
    cursor: not-allowed;
  }

  .able-screening-header {
    min-width: 200px;
  }

  .image-space {
    margin-top: 10px;
    margin-left: 16px;
  }

  .able-screening-image img {
    border: 1px solid #c9cacc;
    border-radius: 3px;
    width: 80px;
    height: 80px;
  }

  .image-default img {
    width: 80px;
    height: 80px;
  }

  .vertical-align-group {
    margin-top: 40%;
  }

  .narrow-space {
    margin-left: -10%;
  }

  .question-group-title{
    font-size: 14px;
    font-weight: 600;
  }

  .has-been-in-government-care,
  .has-been-in-orphanage {
    span {
      display: inline-block;
      margin-right: 20px;
    }
    label {
        padding-left: 0;
    }
    .iradio_square-green {
      margin-right: 5px;
    }
  }

  .client_user.disabled {
    label, input {
      color: #333333 !important;
    }
  }

  .client_answers_description {
    label {
      display: block;
    }
    span.radio {
      display: inline-block;
      label {
        &:first-child {
          padding-right: 15px;
        }
      }
    }
  }
}
