body[id='clients-index'] {
  @import 'iCheck/custom';
  @import 'clients/client_grid';

  #client-search-form {
    margin-top: 15px;
  }

  .highcharts-legend-item path{
    cursor: pointer;
  }

  #client-statistic-body{
    display: none;
    margin-bottom: 0;
  }

  .domain-filter-search {
    margin-bottom: 16px;
  }

  .datagrid-filter label{
    vertical-align: top;
    padding-top: 5px;
  }
  .domain-filter {
    margin: 10px 0;
  }
  #client-search-domain{
    margin-bottom: 20px;
  }

  .select2-container.dynamic_filter{
    width: 30%;
    float: left;
    margin-right: 5px;
  }
  .dynamic_filter.value{
    width: 32%;
    float: left;
  }

  .date_filter {
    padding: 6px;
  }

  .float-right {
    float: right;
  }

  .btn-primary.datagrid-reset {
    margin-bottom: 4px;
  }

  @media screen and (max-width: 700px){
    .client-option {
      a {
        display: inline-block;
        margin-top: 8px;
      }
    }
  }
  /////////////////////// client advance search ////////////////////////////////

  #client-advance-search-form {
    margin-top: 15px;
  }

  select#select-custom-form {
    width: 180px;
  }

  li.select2-disabled div:hover {
    cursor: not-allowed;
  }

  .btn-export {
    margin-top: 0;
    margin-right: 4px;
  }

  .btn-group.group-actions {
    button[data-add='rule'] {
      background-color: #1ab394;
      border-color: #1ab394;
      color: #FFFFFF;
    }
    button {
      margin-right: 5px;
    }
  }

  .rule-container {
    border-radius: 0;
    padding: 10px;
    margin: 5px 0;
  }

  .rule-operator-container {
    select {
      width: 180px;
    }
  }

  .rule-value-container {
    border-left: none;
    select, input {
      width: 180px;
    }
    input.form-control {
      padding: 6px 12px;
    }
  }

  .order {
    display: inline-block;
    float: right;
  }

  .basic-filter-error, .custom-form-error {
    color: red;
    display: none;
  }

  .custom-form, .program-stream, .selected-custom-form, .program-association {
    display: none;
  }

  .program-association, .program-stream {
    margin-left: 16px;
  }

  th.form-builder, td.form-builder {
    min-width: 480px;
  }

  .checkbox-margin {
    padding-left: 18px;
  }

  .disabled-column {
    pointer-events: none;
    opacity: 0.5;
  }

  table.clients.table tr th {
    cursor: default;
  }

  .csi-header {
    padding: 5px 16px;
    strong {
      font-size: 13px;
    }
  }

  th.domain-scores, td.domain-scores {
    min-width: 200px;
  }

  .modal#save-query {
    .modal-footer {
      text-align: left;
    }
    .btn-cancel {
      margin: 10px 10px 10px 0;
    }
  }

  .nav-tabs {
    margin-bottom: 10px;
    li.active a {
      border-bottom-color: #fff;
    }
  }

  .column-picker {
    margin-bottom: 15px;
  }

  .ibox-content.no-border {
    border-style: none;
  }

  #program-stream-wrapper {
    .form-group.program-stream {
      margin-left: 0;
    }
  }
  table.clients {
    th {
      position: relative;
      a.all-values {
        position: absolute;
        right: 5px;
        top: 10px;
      }
      div.dataTables_sizing {
        display: none;
      }
    }
  }

}
