body[id='families-index'],
body[id='families-welcome'],
body[id='clients-index'],
body[id='clients-welcome'] {
  .assessment-domain-score {
    .modal-dialog {
      width: 100%;
      // height: 90%;
      margin: 0 auto;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-content {
      // height: 90%;
      // min-height: 90%;
      // max-height: 90%;
      min-width: 90%;
      border-radius: 0;
      overflow: auto;

      .dataTables_processing {
        z-index: 999;
        background: none;
        border: none;
      }
    }

    table.assessment-score-data {
      width: 100% !important;
    }

    .client-id,
    .family-id,
    .family-name,
    .client-name,
    .assessment-number,
    .assessment-date {
      min-width: 120px;
    }

    .assessment-score {
      min-width: 32px;
    }

    .dt-buttons {
      float: right;
    }
  }
}


body[id='clients-index'],
body[id='clients-welcome'] {
  @import 'iCheck/custom';
  @import 'clients/client_grid';

  .pagination> {
    .active>form {
      background-color: #1ab394;
      border-color: #1ab394;
      color: white;
      cursor: default;
      z-index: 2;
    }

    li:first-child>form>input {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    li:last-child>form>input {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    li>form {
      position: relative;
      float: left;
      color: #337ab7;
      background-color: #fff;

      input {
        border: 1px solid #ddd;
        margin-left: -1px;
        padding: 6px 12px;
        line-height: 1.42857143;
        background-color: transparent;
      }

      &:hover {
        z-index: 2;
        color: #23527c;
        background-color: #eeeeee;
        border-color: #ddd;
      }
    }
  }

  #load-save-search {
    th.date {
      min-width: 100px;
    }

    th.action,
    th.load-query {
      min-width: 70px;
    }
  }

  #prevent_load_saved_searches {
    width: 50%;
  }

  .loader {
    margin: auto;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  #client-search-form {
    margin-top: 15px;
  }

  .highcharts-legend-item path {
    cursor: pointer;
  }

  #client-statistic-body {
    display: none;
    margin-bottom: 0;
  }

  .domain-filter-search {
    margin-bottom: 16px;
  }

  .datagrid-filter label {
    vertical-align: top;
    padding-top: 5px;
  }

  .domain-filter {
    margin: 10px 0;
  }

  #client-search-domain {
    margin-bottom: 20px;
  }

  .select2-container.dynamic_filter {
    width: 30%;
    float: left;
    margin-right: 5px;
  }

  .dynamic_filter.value {
    width: 32%;
    float: left;
  }

  .date_filter {
    padding: 6px;
  }

  .float-right {
    float: right;
  }

  .btn-primary.datagrid-reset {
    margin-bottom: 4px;
  }

  .action-button-group .btn {
    margin-top: 4px;
  }

  @media screen and (max-width: 700px) {
    .client-option {
      a {
        display: inline-block;
        margin-top: 8px;
      }
    }
  }

  /////////////////////// client advance search ////////////////////////////////

  #client-advance-search-form {
    margin-top: 15px;
  }

  select#select-custom-form {
    width: 180px;
  }

  li.select2-disabled div:hover {
    cursor: not-allowed;
  }

  .btn-export {
    margin-top: 0;
    margin-right: 4px;
  }

  .hidden-post-form {
    display: inline-block;
  }

  .btn-group.group-actions {
    button[data-add='rule'] {
      background-color: #1ab394;
      border-color: #1ab394;
      color: #FFFFFF;
    }

    button {
      margin-right: 5px;
    }
  }

  .rule-container {
    border-radius: 0;
    padding: 10px;
    margin: 5px 0;
  }

  .rule-operator-container {
    select {
      width: 180px;
    }
  }

  .rule-value-container {
    border-left: none;

    select,
    input {
      width: 180px;
    }

    input.form-control {
      padding: 6px 12px;
    }
  }

  .order {
    display: inline-block;
    float: right;
  }

  .basic-filter-error,
  .custom-form-error {
    color: red;
    display: none;
  }

  .client-column-picker,
  .custom-form,
  .program-stream,
  .selected-custom-form,
  .program-association,
  #wizard-referral-data,
  #wizard-program-stream,
  #wizard-custom-form,
  .assessment-form {
    display: none;
  }

  .program-association {
    margin-left: 16px;
  }

  th.form-builder,
  td.form-builder {
    min-width: 480px;
  }

  .checkbox-margin {
    padding-left: 18px;
  }

  .disabled-column {
    pointer-events: none;
    opacity: 0.5;
  }

  table.clients.table tr th {
    cursor: default;
  }

  .csi-header,
  .custom-data,
  .legal-doc,
  .referee-header,
  .carer-header,
  .type-of-service-header,
  .hotline-call-header,
  .care-plan-header,
  .custom-referral-data {
    padding: 5px 16px;

    strong {
      font-size: 13px;
    }
  }

  th.domain-scores,
  td.domain-scores {
    min-width: 200px;
  }

  .modal#save-query {
    .modal-footer {
      text-align: left;
    }

    .btn-cancel {
      margin: 10px 10px 10px 0;
    }
  }

  .nav-tabs {
    margin-bottom: 10px;

    li.active a {
      border-bottom-color: #fff;
    }
  }

  .column-picker {
    margin-bottom: 15px;
  }

  .ibox-content.no-border {
    border-style: none;
  }

  #program-stream-wrapper {
    .form-group.program-stream {
      margin-left: 0;
    }
  }

  table.clients {
    th {
      position: relative;

      form.all-values {
        position: absolute;
        right: 5px;
        top: 10px;
        color: #337ab7;

        &:hover,
        &:focus {
          color: #23527c;
        }

        input[type="submit"] {
          padding: 0;
          border: none;
          background: none;
        }
      }

      div.dataTables_sizing {
        display: none;
      }
    }
  }

  .popover[class*="tour-"].orphan .arrow {
    display: inline-block;
  }

  .tour-tour {
    left: 0px !important;
    // top: 420px !important;
    width: 227px;
    margin-left: 175px !important;
    // margin-top: 430px !important;
    z-index: 2001;
  }

  .csi-group {

    .btn-add-rule,
    .rule-actions,
    .drag-handle,
    .btn-custom-group,
    .btn-default-group {
      display: none;
    }
  }

  // Report Builder Wizard

  #client-advance-search-wizard {
    padding: 0;
    border: none;
  }

  #report-builder-wizard-modal {
    .modal-lg {
      width: 90%;
    }

    #report-builder-wizard.wizard>.content>.chose-columns-section.body input {
      display: inline-block;
    }

    #report-builder-wizard.wizard>.content>.chose-columns-section.body ul {
      padding-left: 15px;
    }

    #report-builder-wizard.wizard>.content>.chose-columns-section.body ul>li {
      list-style: inside;
    }

    #report-builder-wizard .content {
      height: calc(100vh - 300px);
      overflow: scroll;
    }

    label.pointer {
      cursor: pointer;
    }

    .custom-form .select2-input {
      width: 100% !important;
    }

    .columns-visibility {
      margin-bottom: 20px;
    }

    .chose-columns-section .wide-margin-bottom {
      margin-bottom: 25px;
      margin-left: 20px;
    }

    #wizard-program-stream {
      margin-top: 10px;
    }

    .chose-columns-section {
      .btn-block {
        text-align: left;
      }
    }
  }

  // Report Builder Wizard

  #client-advance-search-wizard {
    padding: 0;
    border: none;
  }

  #report-builder-wizard-modal {
    .modal-lg {
      width: 90%;
    }

    #report-builder-wizard.wizard>.content>.chose-columns-section.body input {
      display: inline-block;
    }

    #report-builder-wizard.wizard>.content>.chose-columns-section.body ul {
      padding-left: 15px;
    }

    #report-builder-wizard.wizard>.content>.chose-columns-section.body ul>li {
      list-style: inside;
    }

    #report-builder-wizard .content {
      height: calc(100vh - 300px);
      overflow: scroll;
    }

    label.pointer {
      cursor: pointer;
    }

    .custom-form .select2-input {
      width: 100% !important;
    }

    .columns-visibility {
      margin-bottom: 20px;
    }

    .chose-columns-section .wide-margin-bottom {
      margin-bottom: 25px;
      margin-left: 20px;
    }

    #wizard-program-stream {
      margin-top: 10px;
    }

    .chose-columns-section {
      .btn-block {
        text-align: left;
      }
    }
  }

  .action-button-group .btn {
    margin-top: 4px;
  }

  .not-allowed {
    pointer-events: none;
    background-color: #4e4a4a5e;
    color: white;
  }

  #sql-string {
    line-height: 2;
  }

  .wide-mb {
    margin-bottom: 20px;
  }

  .hotline-call-column,
  .assessment-column {
    a.disabled {
      color: #333333 !important;
      cursor: not-allowed;
    }
  }

  .ladda-button {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
  }

  .care_plan_completed_date .td-content .showmore_content,
  .care_plan_completed_date .td-content {
    &:first-child {
      height: 25px !important;
      margin-left: 20px;
    }
  }
}
