.nested-fields
  .row
    .col-xs-12.col-sm-6.col-md-6
      = f.input :action, label: 'ការអនុវត្តន៍សកម្មភាព', input_html: { rows: 10 }
    .col-xs-12.col-sm-6.col-md-6
      = f.input :result, label: 'លទ្ធផល', input_html: { rows: 10 }
