.nested-fields
  .field
    = f.input :family_plan_id, as: :hidden, label: false
    .row
      .col-xs-3
        %p
          %strong= f.object.family_status_name
      .col-xs-3
        = f.input :score, collection: [1, 2, 3, 4], selected: f.object.try(:score), prompt: '', label: 'ចំណាត់ថ្នាក់'
      .col-xs-6
        = f.input :comment, label: 'មតិយោបល់', input_html: { rows: '1' }

