.panel.panel-no-margin.panel-borderless{style: 'margin-top: 5px;'}
  .panel-body.panel-border{style: 'border-top: 1px solid black'}
    %table.table.no-margin-bottom.table-borderless
      %tbody
        %tr
          %td{style: 'width: 70px;'}
            អង្គភាពប្រតិបត្តិ:
          %td
            %input{style: 'width: 100%;', value: ''}
    %table.table.no-margin-bottom.table-borderless
      %tbody
        %tr
          %td អាស័យដ្ឋានអង្គភាពប្រតិបត្តិ:
    %table.table.no-margin-bottom.table-borderless
      %tbody
        %tr
          %td{style: 'width: 70px;'}
            រាជធានី/ខេត្ត:
          %td
            %input{style: 'width: 100%;', value: @government_form.try(:province_name)}
          %td{style: 'width: 70px;'}
            ក្រុង/ស្រុក/ខណ្ឌ:
          %td
            %input{style: 'width: 100%;', value: @government_form.try(:district_name)}
          %td{style: 'width: 70px;'}
            ឃ៉ំ/សង្កាត់:
          %td
            %input{style: 'width: 100%;', value: @government_form.try(:commune_name)}
