:css
  body { color: #001e55; }

%h4.text-center ព្រះរាជាណាចក្រកម្ពុជា
%h4.text-center ជាតិ សាសនា ព្រះមហាក្សត្រ
.text-center
  = wicked_pdf_image_tag 'header-liner.png', width: 100, style: 'margin-bottom: 5px;'
.text-center
  = wicked_pdf_image_tag 'logo.png', width: 120

.panel.panel-no-margin.panel-borderless{style: 'margin-top: 5px;'}
  .panel-body.panel-border{style: 'border-top: 1px solid black'}
    %table.table.no-margin-bottom.table-borderless
      %tbody
        %tr
          %td{style: 'width: 70px;'}
            អង្គភាពប្រតិបត្តិ:
          %td
            %input{style: 'width: 100%;', value: @setting.org_name }
    %table.table.no-margin-bottom.table-borderless
      %tbody
        %tr
          %td អាស័យដ្ឋានអង្គភាពប្រតិបត្តិ:
    %table.table.no-margin-bottom.table-borderless
      %tbody
        %tr
          %td{style: 'width: 70px;'}
            រាជធានី/ខេត្ត:
          %td
            %input{style: 'width: 100%;', value: @setting.province.try(:name_kh) }
          %td{style: 'width: 70px;'}
            ក្រុង/ស្រុក/ខណ្ឌ:
          %td
            %input{style: 'width: 100%;', value: @setting.district.try(:name_kh) }
          %td{style: 'width: 70px;'}
            ឃ៉ំ/សង្កាត់:
          %td
            %input{style: 'width: 100%;', value: @setting.org_commune }
