.nested-fields
  .field
    .row
      .col-xs-4
        = f.input :goal
      .col-xs-4
        = f.input :action
      .col-xs-4
        = f.input :result
    -# = f.input :rank, as: :select, collection: GovernmentFormProblem::RANKS, label: f.object.plan_name
    -# = f.input :plan_id, as: :hidden, label: false
