%p Dear Managers,

%p There's a client has exited the NGO.

%p
  Please click
  = link_to 'here', client_url(@client, subdomain: current_organization.short_name), target: :_blank
  to check client detail.

%p Thanks,

%p OSCaR Team
