#field_settings-index {
  .panel-heading {
    .checkbox {
      margin: 0;
    }
  }

  input[type='submit'] {
    margin: 0;
  }

  .header {
    font-weight: 600;
  }

  .checkbox label {
    padding-left: 0;
  }

  .tab-content {
    margin-top: 2rem;
  }
}
