body[id=calendars-index]{
  .loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
  }

  .popover {
    z-index: 2060 !important;
  }

  .google-calendar-margin-bottom {
    margin-bottom: 15px;
  }
}
