body[id='custom_fields-index'] {
  .manage {
    min-width: 100px;
    a {
      margin-right: 5px;
    }
  }
  .nav-tabs li a {
    border-radius: 0;
  }
  .form-title-margin-top {
    margin-top: 10px;
  }
}
