body[id='custom_fields-index'] {
  .manage {
    min-width: 100px;
    a {
      margin-right: 5px;
    }
    button {
      margin-right: 5px;
    }
  }
  .form-title-margin-top {
    margin-top: 10px;
  }
  .nav-tabs {
    margin-bottom: 10px;
    li.active a {
      border-bottom-color: #fff;
    }
  }
  @media (min-width: 768px) {
    .no-margin-top {
      margin-top: 0px;
    }
  }
  th.form_title,
  th.frequency,
  th.organization, {
    min-width: 350px;
  }

  th.type, th.manage {
    min-width: 150px;
  }
}
