body[id='screening_assessments-new'],
body[id='screening_assessments-create'],
body[id='screening_assessments-edit'],
body[id='screening_assessments-update'] {
  .collection_radio_buttons {
    margin-left: 5px;
  }

  fieldset[data-developmental-marker-screening-assessment-name] {
    .popover {
      width: auto;
      max-width: 420px;
      min-width: 250px
    }
  }
}
