.field .ui.input input,
.fields .field .ui.input input,
.react-date-picker {
  display: inline-flex;
  position: relative;
  width: 100%;
  border: thin solid #cccccc !important;
  border-radius: 4px;
  min-height: 38px;
  padding-left: 10px;

  &.error {
    border: thin solid red !important;
  }

  &:hover {
    border: thin solid #1ab394 !important;
  }

  &,
  & *,
  & *:before,
  & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &--disabled {
    background-color: rgb(240, 240, 240);
    color: rgb(109, 109, 109);
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: none !important;
  }

  &__inputGroup {
    // $digit-width: @include 54em;
    // $dot-width: @include 217em;
    // own padding + inputs padding + digits width + dots width
    // min-width: calc(#{"(4px * 3) + " $digit-width * 8 ~" + "} $dot-width * 2);
    flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;
    padding: 5px !important;

    &__divider {
      padding: 1px 0;
      white-space: pre;
    }

    &__input {
      // min-width: $digit-width;
      height: 100%;
      position: relative;
      padding: 0 1px;
      border: 0;
      background: none;
      font: inherit;
      box-sizing: content-box;
      -moz-appearance: textfield;

      &::-webkit-outer-adjust-hue-button,
      &::-webkit-inner-adjust-hue-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:invalid {
        background: fade(red, 10%);
      }

      // &--hasLeadingZero {
      // margin-left: -$digit-width;
      // padding-left: calc(#{"1px + "} $digit-width);
      // }
    }
  }

  &__button {
    border: 0;
    background: transparent;
    padding: 4px 6px;

    &:enabled {
      cursor: pointer;

      &:hover,
      &:focus {
        .react-date-picker__button__icon {
          stroke: rgb(0, 120, 215);
        }
      }
    }

    &:disabled {
      .react-date-picker__button__icon {
        stroke: rgb(109, 109, 109);
      }
    }

    svg {
      display: inherit;
    }
  }

  &__calendar {
    width: 350px;
    max-width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999 !important;

    &--closed {
      display: none;
    }

    .react-calendar {
      border-width: thin;
    }
  }
}

.calendar-container {
  padding: 0 25px;
  max-width: 500px;
  margin: 50px auto;
}

.ui.popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  z-index: 1900;
  border: 1px solid #d4d4d5;
  line-height: 1.4285em;
  max-width: 250px;
  background: #fff;
  padding: 1.833em 1em;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.ui.popup > .header {
  text-align: center;
  padding: 0;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.14285714em;
  line-height: 1.2;
  font-weight: 700;
}
.ui.popup > .header + .content {
  padding-top: 1.5em;
}
.ui.popup:before {
  position: absolute;
  content: "";
  width: 0.71428571em;
  height: 0.71428571em;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-box-shadow: 1px 1px 0 0 #bababc;
  box-shadow: 1px 1px 0 0 #bababc;
}

.ui.flowing.popup {
  max-width: none;
}

i.icon.chevron.left:before {
  content: "\f053";
  font-family: FontAwesome;
  position: relative;
}

i.icon.chevron.right:before {
  content: "\f054";
  font-family: FontAwesome;
  position: relative;
}

i.icon {
  font-style: normal;
}

.ui.top.popup {
  margin: 0 0 0.71428571em;
}
.ui.top.left.popup {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.ui.top.center.popup {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.ui.top.right.popup {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
.ui.left.center.popup {
  margin: 0 0.71428571em 0 0;
  -webkit-transform-origin: right 50%;
  transform-origin: right 50%;
}
.ui.right.center.popup {
  margin: 0 0 0 0.71428571em;
  -webkit-transform-origin: left 50%;
  transform-origin: left 50%;
}
.ui.bottom.popup {
  margin: 0.71428571em 0 0;
}
.ui.bottom.left.popup {
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.ui.bottom.center.popup {
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.ui.bottom.right.popup {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.ui.bottom.center.popup:before {
  margin-left: -0.30714286em;
  top: -0.30714286em;
  left: 50%;
  right: auto;
  bottom: auto;
  -webkit-box-shadow: -1px -1px 0 0 #bababc;
  box-shadow: -1px -1px 0 0 #bababc;
}
.ui.bottom.left.popup {
  margin-left: 0;
}
.ui.bottom.left.popup:before {
  top: -0.30714286em;
  left: 1em;
  right: auto;
  bottom: auto;
  margin-left: 0;
  -webkit-box-shadow: -1px -1px 0 0 #bababc;
  box-shadow: -1px -1px 0 0 #bababc;
}
.ui.bottom.right.popup {
  margin-right: 0;
}
.ui.bottom.right.popup:before {
  top: -0.30714286em;
  right: 1em;
  bottom: auto;
  left: auto;
  margin-left: 0;
  -webkit-box-shadow: -1px -1px 0 0 #bababc;
  box-shadow: -1px -1px 0 0 #bababc;
}
.ui.top.center.popup:before {
  top: auto;
  right: auto;
  bottom: -0.30714286em;
  left: 50%;
  margin-left: -0.30714286em;
}
.ui.top.left.popup {
  margin-left: 0;
}
.ui.top.left.popup:before {
  bottom: -0.30714286em;
  left: 1em;
  top: auto;
  right: auto;
  margin-left: 0;
}
.ui.top.right.popup {
  margin-right: 0;
}
.ui.top.right.popup:before {
  bottom: -0.30714286em;
  right: 1em;
  top: auto;
  left: auto;
  margin-left: 0;
}
.ui.left.center.popup:before {
  top: 50%;
  right: -0.30714286em;
  bottom: auto;
  left: auto;
  margin-top: -0.30714286em;
  -webkit-box-shadow: 1px -1px 0 0 #bababc;
  box-shadow: 1px -1px 0 0 #bababc;
}
.ui.right.center.popup:before {
  top: 50%;
  left: -0.30714286em;
  bottom: auto;
  right: auto;
  margin-top: -0.30714286em;
  -webkit-box-shadow: -1px 1px 0 0 #bababc;
  box-shadow: -1px 1px 0 0 #bababc;
}
.ui.bottom.popup:before {
  background: #fff;
}
.ui.left.center.popup:before,
.ui.right.center.popup:before {
  background: #fff;
}
.ui.top.popup:before {
  background: #fff;
}
.ui.inverted.bottom.popup:before {
  background: #1b1c1d;
}
.ui.inverted.left.center.popup:before,
.ui.inverted.right.center.popup:before {
  background: #1b1c1d;
}
.ui.inverted.top.popup:before {
  background: #1b1c1d;
}
.ui.popup > .ui.grid:not(.padded) {
  width: calc(100% + 1.75rem);
  margin: -0.7rem -0.875rem;
}
.ui.loading.popup {
  display: block;
  visibility: hidden;
  z-index: -1;
}
.ui.animating.popup,
.ui.visible.popup {
  display: block;
}
.ui.visible.popup {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ui.basic.popup:before {
  display: none;
}
.ui.wide.popup {
  max-width: 350px;
}
.ui[class*="very wide"].popup {
  max-width: 550px;
}
@media only screen and (max-width: 767px) {
  .ui.wide.popup,
  .ui[class*="very wide"].popup {
    max-width: 250px;
  }
}
.ui.fluid.popup {
  width: 100%;
  max-width: none;
}
.ui.inverted.popup {
  background: #1b1c1d;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui.inverted.popup .header {
  background-color: none;
  color: #fff;
}
.ui.inverted.popup:before {
  background-color: #1b1c1d;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ui.flowing.popup {
  max-width: none;
}
.ui.mini.popup {
  font-size: 0.78571429rem;
}
.ui.tiny.popup {
  font-size: 0.85714286rem;
}
.ui.small.popup {
  font-size: 0.92857143rem;
}
.ui.popup {
  // font-size: 1rem;
}
.ui.large.popup {
  // font-size: 1.14285714rem;
}
.ui.huge.popup {
  // font-size: 1.42857143rem;
}

.transition {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.visible.transition {
  display: block !important;
  visibility: visible !important;
}

.scale.transition.in {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.scale.transition.out {
  -webkit-animation-name: scaleOut;
  animation-name: scaleOut;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scaleOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes scaleOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.calendar-input {
  margin: 0 0;
}

.ui.table [class*="center aligned"],
.ui.table[class*="center aligned"] {
  margin-top: 1em;
  margin-bottom: 0px;
}
.ui.table [class*="center aligned"],
.ui.table[class*="center aligned"],
.ui.table [class*="center aligned"] thead > tr > th,
.ui.table[class*="center aligned"] thead > tr > th {
  text-align: center !important;
}

.ui.celled.table tr td,
.ui.celled.table tr th {
  // border-left: 1px solid rgba(34, 36, 38, 0.1);
}
.ui.celled.table tr td:first-child,
.ui.celled.table tr th:first-child {
  border-left: none;
}

@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) {
    width: 100%;
  }
  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > td,
  .ui.table:not(.unstackable) tr > th {
    width: auto !important;
    display: block !important;
  }
  .ui.table:not(.unstackable) {
    padding: 0;
  }
  .ui.table:not(.unstackable) thead {
    display: block;
  }
  .ui.table:not(.unstackable) tfoot {
    display: block;
  }
  .ui.table:not(.unstackable) tr {
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset !important;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset !important;
  }
  .ui.table:not(.unstackable) tr > td,
  .ui.table:not(.unstackable) tr > th {
    background: 0 0;
    border: none !important;
    padding: 0.25em 0.75em !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .ui.table:not(.unstackable) td:first-child,
  .ui.table:not(.unstackable) th:first-child {
    font-weight: 700;
  }
  .ui.definition.table:not(.unstackable) thead th:first-child {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}
