.check-box-group
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      %label
        - if field_props['required']
          %abbr(title="required") *
        = field_props['label'].html_safe
      - field_props['values'].each do |field|
        %li
          = check_box_tag :nil, field['label'].html_safe, field['selected'], { class: 'i-checks' }
          = label_tag '', format_placeholder(field['label'])
