.date
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      %label= strip_tags(field_props['label'])
  .row  
    .col-xs-12.form-group{ class: html_column(full_width) }
      .date.input-group
        = text_field_tag '', '', class: 'date optional form-control date-picker calendar'
        %span.input-group-addon
          %i.fa.fa-calendar-check-o

