.date
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      %label
        - if field_props['required']
          %abbr(title="required") *
        = field_props['label'].html_safe
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      .date.input-group
        = text_field_tag field_props['name'], field_props['value'] || '', class: 'date optional form-control date-picker calendar'
        %span.input-group-addon
          %i.fa.fa-calendar-check-o

