.number
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      %label= strip_tags(field_props['label'])
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      = number_field '', field_props['label'], class: 'numeric integer required form-control form-control'