.number
  .row
    .col-xs-12.col-md-6.form-group
      %label= field_props['label']
  .row
    .col-xs-12.col-md-6.form-group
      = number_field '', field_props['label'], class: 'numeric integer required form-control form-control'