.number
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      %label= field_props['label'].html_safe
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      = number_field '', field_props['label'], class: 'numeric integer required form-control form-control'