.number
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      %label
        - if field_props['required']
          %abbr(title="required") *
        = field_props['label'].html_safe
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      = number_field field_props['name'], field_props['label'], value: field_props['value'] || '', class: 'numeric integer required form-control form-control'
  %span.help-block
