.select
  .row
    .col-xs-12.col-md-6.form-group
      %label= field_props['label']
  .row
    .col-xs-12.col-md-6.form-group
      = select_tag '', options_for_select( field_props['values'].collect { |f| [ f['label'], ''] } ), class: 'select  form-control'