.text
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      %label= strip_tags(field_props['label'])
  .row
    .col-xs-12.form-group{ class: html_column(full_width) }
      = text_field_tag field_props['label'], '', class: 'string form-control form-control'