%p Dear Manager,
%p There is a client join able program today.
%p
  = 'Please click'
  = link_to 'here', client_url(@client, subdomain: Organization.current.short_name), target: :_blank
  = "to check the client information."
%p Thanks,
%p Cambodian Families Team
