body[id='stages-new'],
body[id='stages-create'],
body[id='stages-edit'],
body[id='stages-update'] {
  .no-label-form-group{
    margin-top: 20px;
  }
  .question-image{
    width: 100px;
    height: 100px;
  }
  .vertical-col{
    margin-top: 30px;
  }
  .question-image{
    img {
      max-height: 100%;
    }
  }
  .no-label-form-group.alert-manager {
    padding-left: 35px;
  }
}
