body[id='stages-index'] {
  .btn-edit-stage {
    margin-right: 10px;
  }
  .btn-question{
    margin-top: 0;
    margin-bottom: 0;
  }
  .stage-list{
    list-style: decimal inside;
    display: list-item;
  }
}
