.col-xs-12.col-sm-4
  .panel.panel-default.tasks-panel
    .panel-body
      .widget.style1.widget-tasks-panel{ 'data-target' => '#active_tasks_list', 'data-toggle' => 'modal', type: 'button'}
        .row.vertical-align
          .col-xs-3
            %i.fa.fa-tasks.fa-3x
          .col-xs-9.text-right
            %span.text-font
              = t('.active_tasks')

  = render 'active_tasks'
