#assessment.tab-pane.margin-top-datatable{ role: 'tabpanel' }
  %br
  .row.label-size
    .col-xs-12.col-sm-6
      %label.control-label
        = t('.client_you_like')
      = select_tag "clients", options_from_collection_for_select(@select_client_options, "id", "name"),{ class: "select form-group", id: 'client-select-assessment', :prompt => '' }
    .col-xs-12.col-md-6.resize-margin
      - if @current_setting.enable_default_assessment
        = link_to t('.csi_assessment'), '#', id: 'csi-assessment-link', class: 'btn btn-block btn btn-default'
      - else
        = link_to t('.csi_assessment'), '#', id: 'csi-assessment-link', class: 'btn btn-block btn btn-default disable'
