.modal.fade.modal-fullscreen#assessment_list{ 'aria-labelledby': 'gridSystemModalLabel', role: 'dialog', tabindex: '-1', 'alert-translation': t('dashboards.active_tasks.checkbox_alert') }
  .modal-dialog.modal-active-list-width{ role: 'document' }
    .modal-content
      .modal-body
        .panel.panel-default#users-task-panel
          .panel-heading.active-task-heading
            %h3.text-center= t('dashboards.all_active_tasks')
          .panel-body
            .row
              .col-xs-12
                - if can? :read, Assessment || (can? :read, CustomField) || (can? :read, Task)
                  .panel.panel-default
                    .panel-body
                      = render 'users_filter', checkbox_tasks: false, checkbox_forms: false
                .panel.panel-danger#overdue-assessments
                  .panel-heading
                    .row
                      .col-xs-6
                        %h5= t('dashboards.active_tasks.overdue_tasks')
                  .panel-body
