.panel.panel-default.client-panel
  .panel-body
    = link_to clients_path(active_client: true, commit: 'commit') do
      .widget.style1.widget-client-panel
        .row.vertical-align
          .col-xs-3
            %i.fa.fa-child.fa-3x
          .col-xs-9.active-client.text-right
            %span.text-row
              = t('.clients')
            %h2.font-bold= @dashboard.clients.active_status.size
