#client.tab-pane.active.margin-top-datatable{ role: 'tabpanel' }
  .table-responsive
    %table.table.table-bordered.table-hover.table-striped.custom-field-table#custom-fields-table{ data: { url: list_custom_fields_api_custom_fields_path(type: 'client_forms'), next: t('.next'), previous: t('.previous')  } }
      %thead
        %tr
          %th.client-form= t('.client_form')
          %th.link.text-center= t('.action')
      %tbody

