.col-xs-12.col-sm-4
  .panel.panel-default.client-panel
    .panel-body
      .widget.style1.widget-client-panel
        .row.vertical-align
          .col-xs-3
            %i.fa.fa-child.fa-3x
          .col-xs-9.text-right
            %span.text-font
              = t('.clients')
            %h2.font-bold= @dashboard.clients.active_status.count
