.panel.panel-info#duetoday-tasks
  .panel-heading
    .row
      .col-xs-6
        %h5= t('.duetoday_tasks')
  .panel-body
    = render 'dashboards/due_today_lists/due_today_task'
    = render 'dashboards/due_today_lists/due_today_assessment'
    = render 'dashboards/due_today_lists/due_today_form'

