= form_tag({controller: 'dashboards', action: 'index'}, method: 'GET', remote: true, id: 'filtered_by_user', class: 'form-inline') do
  %input{type: 'hidden', value: params[:locale], name: 'locale'}
  .row
    - unless current_user.case_worker?
      .col-xs-12.col-md-4
        .form-group
          %label{ for: 'user_id' }= t('.filter_by_user')
          = select_tag 'user_id', options_for_select(@users.map{|u| [u.name, u.id] }, selected: params[:user_id]), include_blank: '--- Please select a user ---'
    - else
      %input{type: 'hidden', value: current_user.id, id: 'user_id', name: 'user_id'}


    .col-xs-12.col-md-1.float-right
      %button#user-filter-submit.btn.btn-primary{type: 'submit'}
        = t('.apply')
