:plain
  var appearence = $("#{escape_javascript(render partial: 'dashboards/overdues/tasks')}");
  $('#assessment_list.modal #overdue-assessments .panel-body').html(appearence);
  toastr.clear()
  $('#assessment_list.modal').modal('show');
  $('input.i-checks').iCheck('uncheck')
  $('input#checkbox-task').iCheck('check')

