:plain
  var appearence = $("#{escape_javascript(render partial: 'dashboards/overdues/assessments')}");
  $('#assessment_list.modal #overdue-assessments .panel-body').html(appearence);
  toastr.clear()
  $('#assessment_list.modal').modal('show');
  $('#assessment_list #users-filter').removeClass('hide')
  $('#assessment_list #filtered_by_user').attr('action', '#{dashboards_user_filter_overdue_assessments_path}');
