.row
  .col-sm-3
    = f.association :province, input_html: { data: { type: 'provinces', 'subaddresses' =>  ['districts', 'communes', 'villages'] } }
  .col-sm-3
    = f.input :district_id, collection: [], input_html: { data: { type: 'districts', 'subaddresses' => ['communes', 'villages'] } }
  .col-sm-3
    = f.input :commune_id, collection: [], input_html: { data: { type: 'communes', 'subaddresses' => ['villages'] } }, hint: (@family.try(:old_commune) if @family.try(:commune_id).nil?)
  .col-sm-3
    = f.input :village_id, collection: [], input_html: { data: { type: 'villages' } }, hint: (@family.try(:old_commune) if @family.try(:commune_id).nil?)
