.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        %h3 Legacy Quarterly Reports
      .panel-body
        = datagrid_table @quarterly_reports_grid, html: {class: 'table table-bordered table-striped table-hover'}

    = will_paginate(@quarterly_reports_grid.assets)

