.row
  .col-sm-12
    .panel.panel-default
      .panel-heading.text-center
        %h4 Legacy Quarterly Reports for #{@case.client.name}
      .panel-body
        = link_to t('.back'), client_path(@case.client), { class: 'btn btn-default button' }

        = datagrid_table @quarterly_reports_grid, html: {class: 'table table-bordered table-striped table-hover pushing-top'}

        = will_paginate(@quarterly_reports_grid.assets)

