body[id='clients-new'],
body[id='clients-create'],
body[id='clients-edit'],
body[id='clients-update'] {
  @import '../../utils/Colors.scss';

  .containerClass {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 1090px) {
      flex-direction: column;
    }
  }

  .leftComponent {
    flex-basis: 30%;
  }

  .rightComponent {
    flex-basis: 70%;
  }

  .tabHead {
    display: flex;
    flex: 1;
  }

  .tabButton {
    border-radius: 5px;
    color: $flatblue;
    flex: 1;
    padding: 1em 1em;
    margin: 0 0.5em 0.5em;
    cursor: pointer;
  }

  .tabButton:hover {
    transition: all .2s ease;
    transform: scale(1.05);
  }

  .activeTab {
    background: $flatblue;
    color: $white;
  }

  .errorTab {
    background: $error;
    color: $white;
  }

  .normalTab {
    background: $paleblue;
    color: $white;
  }

  .actionfooter {
    display: flex;
    justify-content: space-between;
  }

  .leftWrapper {
    display: flex;
    justify-content: flex-start;
  }

  .rightWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .clientButton {
    color: #aaa;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0.5em;
  }

  .saveButton {
    background: #1AB394;
    color: #fff;
    cursor: pointer;
  }

  .allowButton {
    background: #2184be;
    color: #fff;
    cursor: pointer;
  }

  .preventButton {
    background: #eee;
    cursor: not-allowed;
    pointer-events: none;
  }

  .careInfo,
  .schoolInfo,
  .donorInfo,
  .customInfo {
    .pointer {
      .fa.fa-chevron-up {
        display: inline-block;
      }

      .fa.fa-chevron-down {
        display: none;
      }
    }
  }

  .careInfo.collapsed,
  .schoolInfo.collapsed,
  .donorInfo.collapsed,
  .customInfo.collapsed {
    .pointer {
      .fa.fa-chevron-up {
        display: none;
      }

      .fa.fa-chevron-down {
        display: inline-block;
      }
    }
  }

  .pointer {
    cursor: pointer;
  }

  .form-group {
    i.fa-info-circle.text-info {
      color: $default-green;
    }
  }

  .introjs-hint-pulse {
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  #save-buttom-wrapper {
    display: inherit;
  }

  #save-btn-help-text {
    display: block;
  }

  #toast-container>.toast-error {
    &:before {
      content: "\f071";
    }

    background-image: none !important;
  }

  #toast-container>.toast-warning {
    background-image: none !important;
  }

  fieldset.legal-form-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    margin-bottom: 25px;
    border-radius: 4px;
  }

  legend {
    &.legal-form-border {
      width: auto !important;
      border: none;
      font-size: 14px;
    }

    span {
      font-size: 12px;
    }
  }

}
