@import '../../utils/Colors.scss';

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tabHead {
  display: flex;
  flex: 1;
}

.tabButton {
  border-radius: 5px;
  color: $flatblue;
  flex: 1;
  padding: 1em 1em;
  margin: 0 0.5em 0.5em;
  cursor: pointer;
}

.active {
  background: $flatblue;
  color: $white;
}

