.ibox
  .ibox-title
    %h5= t('.program_lists')
  .ibox-content
    %table.table.table-bordered
      %thead
        %tr
          %th Status
          %th Program Name
          %th Report
          %th Actions
      %tbody
        - @program_streams.each do |program_stream|
          %tr
            %td
            %td= program_stream.name
            %td 
              = link_to 'View', '#'
            %td
              = link_to new_client_client_program_stream_path(program_stream_id: program_stream.id) do
                .btn.btn-primary Enroll
              / = link_to client_client_program_stream_path do
              /   .btn.btn-primary Exit
              / = link_to client_client_program_stream_path do
              /   .btn.btn-primary Tracking  
  .ibox-footer