%p= 'Dear Sir/Madam,'
%p You are almost due to complete the next CSI assessment.
%p To check your next CSI assessment, please click the link below.
%p= link_to 'Check My CSI Assessment', client_assessments_url(@client, subdomain: Organization.current.short_name), target: :_blank
%p Thanks,
%p OSCaR Team
