%p= "Hello #{@user.name},"
%p  you currently have tasks overdue. Please see the list below.
%ul
- @overdue_tasks.each do |task|
  %li
    %span
      = link_to task.name, tasks_url(subdomain: @short_name, user_id: @user.id), target: :_blank
    %span
      , due on
      = task.completion_date
%p Thanks,
%p Cambodian Families Team
