%p= "Hello #{@user.first_name} #{@user.last_name}!"
%p There are some tasks you haven't completed yet which due tomorrow.
%p To check your tasks, please click the link below.
%p= link_to 'Check my tasks', tasks_url