body {
  background-color: #f3f3f4;
}

.navbar-brand {
  img.logo {
    height: 30px;
  }
}

.datagrid-actions {
  padding: 10px 0;
}

.btn.pull-right {
  margin: 10px 0 10px 10px;
}

.btn-reset-filter {
  padding: 8px 20px;
}

.btn-filter {
  margin-bottom: 10px;
}
