@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300;400;700&display=swap');

html[lang="my"] {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  a,
  ul li,
  ul li a,
  text,
  tspan {
    font-family: "Pyidaungsu", "Padauk", sans-serif;
  }
}

html[lang="km"] {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  a,
  ul li,
  ul li a,
  text,
  tspan,
  span {
    font-family: "DejaVu Sans", "Battambang", "Khmer OS Battambang", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    letter-spacing: 0.35px;
    line-height: 23px;
  }
}

body[id="agencies-version"],
body[id="changelogs-version"],
body[id="clients-version"],
body[id="departments-version"],
body[id="domain_groups-version"],
body[id="domains-version"],
body[id="donors-version"],
body[id="families-version"],
body[id="interventions-version"],
body[id="locations-version"],
body[id="materials-version"],
body[id="partners-version"],
body[id="progress_note_types-version"],
body[id="progress_notes-version"],
body[id="provinces-version"],
body[id="districts-version"],
body[id="quantitative_cases-version"],
body[id="quantitative_types-version"],
body[id="referral_sources-version"],
body[id="organization_types-version"],
body[id="users-version"] {
  .modification-title {
    margin-bottom: 30px;
  }

  .page-select-label {
    line-height: 4;
    margin-bottom: 0px;
  }

  .page-select {
    margin-top: 8px;
    .form-group {
      margin-bottom: 0px;
    }
  }

  .btn-back {
    min-width: 100px;
  }

  .panel-heading {
    h5 {
      color: #fff;
      .label {
        border: 2px solid #fff;
        border-radius: 4px;
      }
    }
  }
}

.bg-grey {
  background-color: #f5f5f6;
}

.usaid-logo {
  width: 262px;
}

.margin-usaid-link {
  margin-top: 40px;

  a {
    color: grey;
  }
}

.footer {
  padding: 0px 20px 10px 20px;
}

.modal-disclaimer-width {
  width: 100%;
  max-width: 80%;
}

@media (max-width: 425px) {
  .margin-usaid-link {
    margin-top: 0px;
  }

  .modal-disclaimer-width {
    max-width: 95%;
  }
}

.no-margin {
  margin: 0 !important;
}

.padding-bottom {
  padding-bottom: 115px;
}

@media (min-width: 768px) {
  .footer {
    padding: 0px 20px 0px 20px;
  }
}
