.row.mini-margin
  .col-xs-12.col-sm-8.col-sm-offset-2
    .organizations
      .row
        - @organizations.each do |org|
          .col-xs-6.col-sm-4
            = link_to new_user_session_url(subdomain: org.short_name, country: org.country), class: 'org-link' do
              .organization
                = image_tag(org.logo.thumb)
