body[id='client_enrolled_program_trackings-show'],
body[id='client_enrollment_trackings-show'] {
  .preview {
    width: 30%;
  }

  .image-title {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action {
    width: 15%;
  }
}
