.row
  .container
    .col-xs-12
      = link_to 'បន្ថែម​ខេត្ត​ថ្មី / Add New Province', new_province_path, class: 'btn btn-success btn-add'
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h3 ខេត្ត​ / Provinces
        .panel-body
          - @provinces.each do |province|
            .panel.panel-default.col-xs-12.col-sm-6
              .panel-body
                %h4
                  = province.name
                  %small.pull-right
                    = link_to edit_province_path(province) do
                      %i.glyphicon.glyphicon-pencil
                    - if province.families_count.zero? && province.partners_count.zero? && province.users_count.zero? && province.clients_count.zero?
                      = link_to province, method: 'delete', data: { confirm: 'Are you sure you want to delete?' } do
                        %i.glyphicon.glyphicon-trash
                    - else
                      %i.glyphicon.glyphicon-trash
