%h4
  %label **
  %span= t('.filter_option')
  %label **
.well
  .row
    .col-xs-12.col-md-4
      .custom-form-wrapper
        .row
          .col-xs-12
            .form-group
              = check_box_tag :nil, '1', custom_form_values.present?, { class: 'i-checks', id: 'custom-form-checkbox' }
              %label= t('.custom_form')
        .row
          .col-xs-12
            .form-group.custom-form{ data: { value: custom_form_values } }
              = select_tag(:nil, options_for_select(@custom_fields.pluck(:form_title, :id), custom_form_values), { multiple: true, class: 'form-control custom-form-select' } )

#opt-group-translation{ data: { basic_fields: t('.basic_fields'), custom_form: t('.custom_form') } }
