.col-xs-12
  = simple_form_for([@client, @client_custom_field]) do |f|
    .ibox
      .ibox-title
        %h5= @client_custom_field.custom_field.form_type
      .ibox-content
        = render "shared/properties", custom_field: @client_custom_field.custom_field, f: f, entity: @client_custom_field
      .ibox-content
        = f.submit 'Save', class: 'btn btn-primary'
