- if can? :manage, Family
  = link_to edit_community_path(object), class: 'btn btn-xs btn-success btn-outline' do
    = fa_icon('pencil')
  = remove_link(object, { case: object.community_members.count || 0 })
