#registrations-new, #registrations-create, #registrations-edit, #registrations-update, #users-edit, #users-update, #users-new, #users-create {
  margin-bottom: 50px;
  .calendar-integration, .overdue_task_summary_notify, .performance_report, .referral_notification {
    span {
      display: inline-block;
      margin-right: 20px;
    }

    label {
      padding-left: 0;
    }
  }

  label.disabled {
    color: #333 !important;
  }
}
