#users-index {
  #user-search-form {
    margin-top: 20px;
  }

  td.manage a {
    margin: 0 5px;
    text-decoration: none;
  }

  table.users {
    margin-bottom: 0;
    th {
      border-bottom-width: 0;
      min-width: 170px;
    }
    th.id {
      min-width: 70px;
    }
    th.email {
      min-width: 200px;
    }
    th.manage {
      min-width: 100px;
    }
  }

  .date_filter {
    padding: 6px;
  }
  .dataTables_scrollBody,
  table.users,
  .dataTables_scrollHeadInner {
    width: 100% !important;
  }
}
