%span.btn.btn-primary.form-btn.browse-image= t('.browse')
= f.input :image, type: :file, label: false, input_html: { class: 'hide', id: 'able-image' }
#image
  .question-image
    = image_tag f.object.image, class: 'img-thumbnail'
