body[id="dashboards-index"] {
  #width-modal {
    li.active {
      margin-bottom: -1px;
    }

    li.active>a {
      border-bottom: 2px solid #fff;
    }

    th.name,
    td.name {
      width: 60% !important;
    }

    th.program-stream-name,
    td.program-stream-name,
    th.tracking-name,
    td.tracking-name {
      width: 40% !important;
    }

    th.link,
    td.link {
      width: 20% !important;
    }

    table.custom-field-table,
    .dataTables_scrollHeadInner,
    .dataTables_scrollHead,
    .dataTables_scrollBody {
      width: 100% !important;
    }

    .dataTables_scrollHeadInner {
      padding-right: 0 !important;
    }

    table.custom-field-table {
      margin-bottom: 0;

      th {
        border-bottom-width: 0;
      }
    }
  }

  .margin-top-datatable {
    margin-top: 10px;
  }

  .label-size {
    font-size: 11px;
  }

  #users-task-panel {
    table.active_tasks {
      margin-bottom: 0;
    }

    .ibox-content {
      padding-bottom: 0;
      border: none;
    }

    .select2-container {
      min-width: 180px;
      margin-left: 10px;
    }

    .active-task-heading {
      background-color: #186e6d;
      color: #fff;
    }
  }

  #active_tasks_list,
  #assessment_list,
  #program_stream_list {
    .modal-active-list-width {
      width: 100%;
      max-width: 85%;
    }
  }

  #program-stream-service {
    .modal-dialog {
      width: 70%;
      padding: 0;
    }

    // .modal-content {
    //   height: auto;
    //   min-height: 70%;
    //   border-radius: 0;
    // }

    .simple_form.program-stream {
      input[type="submit"] {
        margin-top: 25px;
      }
    }

    .disabled.program_stream_name {

      label,
      input {
        color: #333333 !important;
      }
    }

    img {
      width: 50px;
      margin-top: 16px;
    }
  }

  #select2-drop.drop {
    height: 349px;

    .select2-results {
      max-height: 340px;
      height: 374px;
      overflow-x: scroll;
      overflow-y: scroll;
    }

    .select2-results table tbody tr td {
      cursor: pointer;
    }
  }

  .referral-source-category-dialog {
    overflow-y: initial !important;
  }

  .referral-body {
    height: 400px;
    overflow-y: auto;
  }

  .save-referral-btn {
    margin-top: 25px;
  }

  .save-success {
    margin-top: 25px;
    margin-left: 30px;
  }

  .modal-header {
    background-color: #1ab394;
    color: white;
  }

  #search-client {
    .heading-label {
      background-color: #186e6d;
      color: #fff;
    }
  }

  #multiple-form-modal {
    .modal-dialog {
      width: 80%;
      margin: 20px auto;
      padding: 0 0 50px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-content {
      height: 80%;
      min-height: 80%;
      max-height: 90%;
      min-width: 90%;
      border-radius: 0;
      overflow: auto;

      .modal-body .tab-content {
        height: 70vh;
      }
    }
  }

  #case-note {
    .resize-margin {
      margin-top: 20px;
    }
  }

  a.custom-assessment-link.disabled {
    cursor: not-allowed;
    color: #333333 !important;
  }

  #data-validation-panel {
    .panel-body {
      height: 300px;
    }

    h2 {
      margin: 50px auto;
      text-align: center;
    }
  }

  #family-tab {

    #family-program-stream {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #select2-drop {
    .select2-highlighted a {
      color: white !important;
    }

    .select2-result-label {

      a:focus,
      a:hover {
        color: white !important;
      }
    }
  }

}
