body[id='dashboards-index'] {
  #users-task-panel {
    table.active_tasks {
      margin-bottom: 0;
    }

    .ibox-content {
      padding-bottom: 0;
      border: none;
    }

    .select2-container {
      min-width: 180px;
      margin-left: 10px;
    }
  }
}
