-# #load-save-search.modal.fade{ role: 'dialog' }
-#   .modal-dialog.modal-lg
-#     .modal-content
-#       .modal-header
-#         %button.close{ 'data-dismiss': 'modal', type: 'button'} ×
-#         %h4.modal-title= t('.search_settings_list')
-#       .modal-body.advanced-search-query
-#         %ul.nav.nav-tabs{ role: 'tablist' }
-#           %li.active{ role: 'presentation' }
-#             %a{ href: '#my-saved-searches', 'data-toggle' => 'tab', role: 'tab' }= t('.my_saved_search')
-#           %li{ role: 'presentation' }
-#             %a#other-saved-searches-tab{ href: '#other-saved-searches', 'data-toggle' => 'tab', role: 'tab' }= t('.other_saved_search')
-#         .tab-content
-#           = render 'my_saved_searches'
-#           = render 'other_saved_searches'
