body[id=progress_notes-new],
body[id=progress_notes-edit],
body[id=progress_notes-create],
body[id=progress_notes-update]{

  input.disabled {
    color: #999a9b !important;
  }

  label.disabled {
    color: #333 !important;
  }

  .file {
    border: none;
  }

  #attachment {
    border-top: 1px solid #cacaca;
    margin-top: 20px;
    padding-top: 20px;
  }
  .dropzone .dz-preview .dz-image {
    background: image-url('file.png');
    img {
      display: none;
    }
  }

  .dropzone .dz-progress {
    display: none;
  }
}
