body[id=progress_notes-new],
body[id=progress_notes-edit],
body[id=progress_notes-create],
body[id=progress_notes-update]{

  input.disabled {
    color: #999a9b !important;
  }

  label.disabled {
    color: #333 !important;
  }

  .file {
    border: none;
  }

  #attachment {
    border-top: 1px solid #cacaca;
    margin-top: 20px;
    padding-top: 20px;
  }
  .dropzone .dz-preview .dz-image {
    background: image-url('file.png');
    img {
      display: none;
    }
  }

  .dropzone .dz-progress {
    display: none;
  }

  .loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  .input-group .has-error {
    border-color: $red;
  }
  span.help-block {
    color: $red;
  }

  .dz-remove {
    visibility: hidden;
    color: black;
    position: absolute;
    z-index: 100;
    right: 3px;
    top: -8px;
    &:hover {
      color: red;
      text-decoration: none;
    }

  }
  .dz-remove:after {
    font-size: 22px;
    visibility: visible;;
    content: "x";
  }
  .dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 20px;
    margin-top: 17px;
  }
}
