body[id='progress_notes-index'] {
  .btn-links {
    margin-bottom: 20px;
  }

  .btn-back {
    margin-top: 15px;
    min-width: 100px;
  }

  .order {
    float: right;
  }

  table.progress-notes {
    margin-bottom: 0;
  }

  td.manage a {
    margin: 0 5px;
  }

  th.manage {
    min-width: 100px;
  }

  th.date, th.child, th.progress_note_type, th.location, th.other_location, th.goals_addressed, th.interventions {
    min-width: 150px;
  }

  th.material {
    min-width: 180px;
  }

  th.staff {
    min-width: 210px;
  }
}
