body[id='progress_notes-index'] {
  .btn-links {
    margin-bottom: 20px;
  }

  .btn-back {
    margin-top: 15px;
    min-width: 100px;
  }

  .order {
    float: right;
  }

  table.progress-notes {
    margin-bottom: 0;
  }

  td.manage a {
    margin: 0 5px;
  }

  table {
    .manage, .modification, th.date, td.date, .child, .progress_note_type, .location, .other_location, .goals_addressed, .interventions, .material, .staff {
      min-width: 210px !important;
    }
  }

  .date_filter {
    padding: 6px;
  }

  .dataTables_scrollBody {
    max-height: 500px !important;
  }
}
