CIF.ClientsAdvanced_search = do ->
  _init = ->
    _initJqueryBuilder()
    _handleSearch()

  _initJqueryBuilder = ->
    fieldList = $('#builder').data('field-list')
    $('#builder').queryBuilder
      lang:
        operators:
          equal: 'is'
          not_equal: 'is not'
          less: '<'
          less_or_equal: '<='
          greater: '>'
          greater_or_equal: '>='
          contains: 'includes'
          not_contains: 'excludes'
      filters: fieldList
  _handleSearch = ->
    query = ''
    $('#search').on 'click', ->
      rules =  $('#builder').queryBuilder('getRules')
       # $('.table-responsive table').DataTable
       #  ajax:
       #    url: '/api/v1/advance_searches'
       #    data: { search_rules: rules }
       #  columns: []
      $.ajax
        url: '/api/v1/advance_searches'
        data: { search_rules: rules }
        method: 'GET'
        success: (response) ->
          $('.table-responsive table').dataTable(
            data: response
            # columns: [
            #   { data: 'id' }
            #   { data: 'first_name' }
            # ]
          )

  _handleGenerateTable = (data) ->
    # debugger
    # value = []
    # for result in data
    #   id = '<td>#{result.id}</td>'
    #   name = '<td>#{result.first_name}</td>'
    #   f
    #   value.push "<tr>   </tr>"
    # value

  { init: _init }