.row
  .col-xs-12
    .container
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              %h4
                = @changelog.change_version
                %small= date_format(@changelog.created_at)
            .panel-body
              %p= @changelog.description.html_safe
            .panel-footer
              = link_to t('.back'), changelogs_path, class: 'btn btn-default btn-back'
