%span.btn.btn-primary.form-btn.browse-image= t('.browse')
= f.input :image, type: :file, label: false, input_html: { class: 'hide stage-image' }
#image
  .question-image.thumbnail
    = image_tag f.object.image
