body[id=government_reports-new],
body[id=government_reports-create],
body[id=government_reports-edit],
body[id=government_reports-update] {
  .panel-heading {
    padding: 10px 40px;
  }
  .panel-body {
    padding-left: 40px;
    padding-right: 40px;
  }

  .government_report_code,
  .government_report_initial_capital,
  .government_report_initial_city,
  .government_report_initial_commune {
    label {
      min-width: 130px;
    }
  }

  .first-response-form {
    h4 {
      margin-top: 40px;
    }
    p {
      margin-bottom: 40px;
    }
  }

  .form-group {
    padding-right: 0;
    margin-bottom: 10px;
    label {
      min-width: 180px;
    }
  }

  .government_report_anonymous_description {
    display: table;
    width: 100%;
    label {
      display: table-cell;
      width: 15%;
    }
    textarea {
      display: table-cell;
    }
  }

  .government_report_quantitative_cases {
    display: block;
    span { 
      display: block;
    }
  }

  input[type=checkbox], input[type=radio] {
    margin-right: 5px;
  }

  .government_report_client_living_with_guardian, .government_report_mission_obtainable {
    span.radio {
      margin-right: 20px;
    }
    label {
      min-width: auto;
    }
  }

  .copy {
    margin-top: 40px;
    p {
      margin-left: 20px;
    }
  }

  .input-group.date {
    margin-left: -3px;
    max-width: 196px;
  }

  table.child-situation-needs {
    td {
      padding: 2px 5px;
    }
  }

  input.gender {
    margin-left: 10px;
  }

  .case_information_date {
    label {
      margin-right: 10px;
    }
  }

  ul {
    list-style: none;
  }

  .done-date, .agreed-date {
    display: table;
    width: 100%;
  }

  .bottom-border {
    border-bottom: 1px solid #000;
  }

  .cell {
    display: table-cell;
    width: 10%;
  }
}