body {
  background-color: #fff;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

#government-report {
  .header-address {
    p {
      display: table;
      width: 50%;

      span.item {
        width: 45%;
      }
    }
  }

  .first-response-form {
    h4 {
      margin-top:40px;
    }

    p {
      margin-bottom: 40px;
    }
  }

  .full-width-table {
    display: table;
    width: 100%;
  }

  .cell {
    display: table-cell;
  }

  .wide-padding {
    padding: 5px 0;
  }

  .bottom-border {
    border-bottom: 1px solid #000;
  }

  .found-client-at-item,
  .found-client-village-item,
  .carer-village-item,
  .case-info-date-day-item,
  .case-info-date-month-item,
  .case-info-date-year-item {
    width: 5%;
  }

  .referral-name-item,
  .referral-position-item {
    width: 7%;
  }

  .carer-house-item,
  .carer-house-value,
  .carer-street-item,
  .carer-street-value {
    width: 10%;
  }

  .case-info-date-day-value,
  .case-info-date-month-value {
    width: 13%;
  }

  .case-info-date-year-value {
    width: 14%;
  }

  .education-item {
    width: 15%;
  }

  .transfer-info {
    width: 20%;
  }

  .found-client-at {
    width: 24%;
  }

  .carer-addr-item,
  .carer-commune-item,
  .blank-cell {
    width: 25%;
  }

  .phone-item,
  .female-item,
  .carer-village-value,
  .carer-capital-item,
  .carer-phone-item {
    width: 30%;
  }

  .found-client-at-value,
  .found-client-village-value,
  .referral-name-value,
  .referral-position-value {
    width: 33%;
  }

  .gender-item,
  .gender-value,
  .carer-city-item,
  .client-code-item {
    width: 35%;
  }

  .city-value,
  .org-name-item,
  .client-name-item,
  .initial-date-item {
    width: 40%;
  }

  .capital-value,
  .dob-value,
  .case-info-date-item {
    width: 45%;
  }

  .half-width {
    width: 50%;
  }

  .capital-item,
  .dob-item {
    width: 55%;
  }

  .city-item,
  .org-name-value,
  .client-name-value,
  .client-contact-value,
  .initial-date-value {
    width: 60%;
  }

  .carer-city-value, .client-code-value {
    width: 65%;
  }

  .phone-value,
  .carer-capital-value,
  .carer-phone-value {
    width: 70%;
  }

  .carer-commune-value {
    width: 75%;
  }

  .education-value {
    width: 85%;
  }

  .page-break {
    page-break-after: always;

    p {
      display: inline-block;
      padding: 5px 0;
      width: 100%;
    }

    p.anonymous-description {
      line-height: 35px;
    }
  }

  table.child-situation-needs {
    table-layout: fixed;
    word-wrap: break-word;

    th.present-situation,
    th.intervention-plan {
      padding-left: 20px;
      padding-right: 20px;
      width: 25%;
    }

    th.need {
      padding-left: 50px;
      padding-right: 50px;
      width: 25%;
    }
  }

  .client-dob {
    padding-right: 2px;
  }

  ul {
    list-style: none;
  }

  .agreed-date {
    margin-bottom: 70px;
  }

  .done-date-day,
  .done-date-month,
  .done-date-year,
  .agreed-date-day,
  .agreed-date-month,
  .agreed-date-year {
    width: 50px;
    display: inline-block;
  }

  .office {
    padding-left: 50px;
  }
}