%footer.footer.navbar-fixed-bottom
  .row
    .col-xs-12.col-sm-2.text-center
      = image_tag 'Horizontal.png',class: 'usaid-logo'
    .col-xs-12.col-sm-8.col-md-off-set-1.text-center.margin-usain-link
      %a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
        USAID Disclaimer
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-width{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h3#myModalLabel.modal-title.text-center USAID Disclaimer
      .modal-body
        %ul#selector
          %li
            %p
              %strong
                For video
              This video is made possible with the generous support of the American people through the United States Agency for International Development (USAID). The contents are the responsibility of the producer and do not necessarily reflect the views of USAID or the United States government. វីដេអូនេះត្រូវបានផលិតឡើងក្រោមជំនួយសប្បុរស របស់ប្រជាពលរដ្ឋអាមេរិក តាមរយៈទីភ្នាក់ងារសហរដ្ឋអាមេរិក ដើម្បីអភិវឌ្ឍន៍អន្តរជាតិ​(USAID)។ ខ្លឹមសារក្នុងវីដេអូនេះ គឺជាការទទួលខុសត្រូវរបស់ផលិតករ និងមិនឆ្លុះបញ្ចាំងពីទស្សនៈរបស់​ USAID រឺ រដ្ឋាភិបាលសហរដ្ឋអាមេរិកឡើយ។
          %li
            %p
              %strong
                For audio show
              This program is made possible with the generous support of the American people through the United States Agency for International Development (USAID). The contents are the responsibility of the producer and do not necessarily reflect the views of USAID or the United States government. កម្មវិធីនេះត្រូវបានផលិតឡើងក្រោមជំនួយសប្បុរស របស់ប្រជាពលរដ្ឋអាមេរិក តាមរយៈទីភ្នាក់ងារសហរដ្ឋអាមេរិក ដើម្បីអភិវឌ្ឍន៍អន្តរជាតិ​ USAID។ ខ្លឹមសារក្នុងកម្មវីធីនេះ គឺជាការទទួលខុសត្រូវរបស់ផលិតករ និងមិនឆ្លុះបញ្ចាំងពីទស្សនៈរបស់​ USAID រឺ រដ្ឋាភិបាលសហរដ្ឋអាមេរិកឡើយ។
          %li
            %p
              %strong
                For website
              This website is made possible with the generous support of the American people through the United States Agency for International Development (USAID). The contents are the responsibility of the authors and do not necessarily reflect the views of USAID or the United States government.គេហទំព័រនេះត្រូវបានផលិតឡើងក្រោមជំនួយសប្បុរស របស់ប្រជាពលរដ្ឋអាមេរិក តាមរយៈទីភ្នាក់ងារសហរដ្ឋអាមេរិក ដើម្បីអភិវឌ្ឍន៍អន្តរជាតិ​(USAID)។ ខ្លឹមសារក្នុងវីដេអូនេះ គឺជាការទទួលខុសត្រូវរបស់អ្នកនិពន្ធ និងមិនឆ្លុះបញ្ចាំងពីទស្សនៈរបស់​ USAID រឺ រដ្ឋាភិបាលសហរដ្ឋអាមេរិកឡើយ។
          %li
            %p
              %strong
                For success story
              This Success Story is made possible by the generous support of the American people through the United States Agency for International Development (USAID). The contents are the responsibility of Development Innovations and do not necessarily reflect the views of USAID or the United States government.
          %li
            %p
              %strong
                For research
              This Research Report is made possible by the generous support of the American people through the United States Agency for International Development (USAID). The contents of the report do not necessarily reflect the views of USAID or the United States government.

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
