!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport", charset: 'utf-8'}
    %title CIF
    = wicked_pdf_stylesheet_link_tag 'application'
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}

  %body{style: 'background-color:#fff;padding-bottom:20px;padding-left:40px;padding-right:40px;', onload: "number_pages()" }
    = yield