!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title CIF

    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }

    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}

    :css
      #government-report .header-address p {
        display: table;
        width: 50%;
      }

      #government-report .header-address span.item {
        width: 45%;
      }

      #government-report .first-response-form h4 {
        margin-top:40px;
      }

      #government-report .first-response-form p {
        margin-bottom:40px;
      }

      #government-report .full-width-table {
        display: table;
        width: 100%;
      }

      #government-report .cell {
        display: table-cell;
      }

      #government-report .wide-padding {
        padding: 5px 0;
      }

      #government-report .bottom-border {
        border-bottom: 1px solid #000;
      }

      #government-report .found-client-at-item,
      #government-report .found-client-village-item,
      #government-report .carer-village-item,
      #government-report .case-info-date-day-item,
      #government-report .case-info-date-month-item,
      #government-report .case-info-date-year-item {
        width: 5%;
      }

      #government-report .referral-name-item,
      #government-report .referral-position-item {
        width: 7%;
      }

      #government-report .carer-house-item,
      #government-report .carer-house-value,
      #government-report .carer-street-item,
      #government-report .carer-street-value {
        width: 10%;
      }

      #government-report .case-info-date-day-value,
      #government-report .case-info-date-month-value {
        width: 13%;
      }

      #government-report .case-info-date-year-value {
        width: 14%;
      }

      #government-report .education-item {
        width: 15%;
      }

      #government-report .transfer-info {
        width: 20%;
      }

      #government-report .found-client-at {
        width: 24%;
      }

      #government-report .carer-addr-item,
      #government-report .carer-commune-item,
      #government-report .blank-cell {
        width: 25%;
      }

      #government-report .phone-item,
      #government-report .female-item,
      #government-report .carer-village-value,
      #government-report .carer-capital-item,
      #government-report .carer-phone-item {
        width: 30%;
      }

      #government-report .found-client-at-value,
      #government-report .found-client-village-value,
      #government-report .referral-name-value,
      #government-report .referral-position-value {
        width: 33%;
      }

      #government-report .gender-item,
      #government-report .gender-value,
      #government-report .carer-city-item,
      #government-report .client-code-item {
        width: 35%;
      }

      #government-report .city-value,
      #government-report .org-name-item,
      #government-report .client-name-item,
      #government-report .initial-date-item {
        width: 40%;
      }

      #government-report .capital-value,
      #government-report .dob-value,
      #government-report .case-info-date-item {
        width: 45%;
      }

      #government-report .half-width {
        width: 50%;
      }

      #government-report .capital-item,
      #government-report .dob-item {
        width: 55%;
      }

      #government-report .city-item,
      #government-report .org-name-value,
      #government-report .client-name-value,
      #government-report .client-contact-value,
      #government-report .initial-date-value {
        width: 60%;
      }

      #government-report .carer-city-value,
      #government-report .client-code-value {
        width: 65%;
      }

      #government-report .phone-value,
      #government-report .carer-capital-value,
      #government-report .carer-phone-value {
        width: 70%;
      }

      #government-report .carer-commune-value {
        width: 75%;
      }

      #government-report .education-value {
        width: 85%;
      }

      #government-report .page-break {
        page-break-after: always;
      }

      #government-report .page-break p {
        display: inline-block;
        padding: 5px 0;
        width: 100%;
      }

      #government-report .page-break p.anonymous-description {
        line-height: 35px;
      }

      #government-report table.child-situation-needs {
        table-layout: fixed;
        word-wrap: break-word;
      }

      #government-report table.child-situation-needs th.present-situation,
      #government-report table.child-situation-needs th.intervention-plan {
        padding-left: 20px;
        padding-right: 20px;
        width: 25%;
      }

      #government-report table.child-situation-needs th.need {
        padding-left: 50px;
        padding-right: 50px;
        width: 25%;
      }

      #government-report .client-dob {
        padding-right: 2px;
      }

      #government-report ul {
        list-style: none;
      }

      #government-report .agreed-date {
        margin-bottom: 100px;
      }

      #government-report .done-date-day,
      #government-report .done-date-month,
      #government-report .done-date-year,
      #government-report .agreed-date-day,
      #government-report .agreed-date-month,
      #government-report .agreed-date-year {
        width: 50px;
        display: inline-block;
      }

      #government-report .office {
        padding-left: 50px;
      }

    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet'}
  %body{ style: 'background-color:#fff;padding-bottom:20px;padding-left:40px;padding-right:40px;', onload: 'number_pages()' }
    = yield