!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title CIF

    :javascript
      function pageNumber() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }

    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}

    :css
      span {
        padding: 4px 7px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-left: 1px;
        margin-left: -4px !important;
      }
      span.first {
        margin-left: 3px !important;
        border-left: 1px solid black;
      }
      .panel-border {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
      }
      .panel-no-margin {
        margin-bottom: 0px;
      }
      .border-label {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
      }
      .panel-label {
        padding:4px;
        border: 1px solid black;
        width:100%;
        margin-bottom: 1px;
      }
      .panel-label-dotted {
        border-bottom: 1px dotted black;
        border-right: 1px dotted black;
        border-left: 1px dotted black;
      }
      .panel-margin-top {
        margin-top: 12px;
      }
      #panel-top-bottom-dotted {
        border-bottom: 1px dotted black;
        border-top: 1px dotted black;
        border-right: 1px dotted black;
        border-left: 1px dotted black;
        padding:6px;
        width:100%;
      }

    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet'}
  %body{ style: 'background-color:#fff;padding-bottom:20px;padding-left:40px;padding-right:40px;', onload: 'pageNumber()' }
    = yield